<div class="span3 colorSilver">
    <ul>
        <li><a href="/articles/category/all/" style="color: #59473e">НОВОСТИ И СТАТЬИ</a></li>
        {% for item in article_categories %}
            <li><a href="/articles/category/{{ item.slug }}/">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>