<div class="offset2 span9 menuAfterLogo">
	{% for item in top_article_categories %}
		<a href="/articles/category/{{ item.slug }}/">{{ item.title }}</a>
    {% endfor %}
    <a href="/gallery/all/">Галереи</a>
    {% if is_authenticated %}<a class="pull-right" href="/accounts/logout/" style="margin-right: -20px;">Выйти</a>{% endif %}
</div>