{% extends "admin/change_form.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">

function select_linked(){
  $.ajax({
        url: '/catalog/admin/product/type/ajax/?watertransport='+$("#id_kind").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_type').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_type').html(options);
      }
  });
}

$(function() {
  $('#id_kind').on('change', function() {
    select_linked();
  });

  select_linked();//load linked selects watertransport/typetransport
});
</script>
{% endblock %}