﻿{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="row-fluid">
      <div class="span6" style="width: 400px">
          <img src="{% static "img/erorr.png" %} ">
      </div>
      <div class="span6 errore">
          <p>Страница не найдена</p>
          <p>Однако необходимую информацию</p>
          <p>Вы наверняка найдете на <strong>ProBoating.ru</strong></p>
          <p><a href="/home/">Перейти на главную страницу ProBoating.ru</a></p>
      </div>
  </div>
</div>
{% endblock %}