{% load staticfiles catalog_tags articles_tags cabinet_widget %}
{% load thumbnail %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}ProBoating{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block css %}
    <link href="{% static "css/bootstrap.css" %} " rel="stylesheet" type="text/css">
    <link href="{% static "css/style.css" %} " rel="stylesheet"  type="text/css">
    <link href="{% static "css/font-awesome.css" %} " rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap-select.css" %} " rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block js %}
    <script src="{% static "js/jquery1.9.2.js" type="text/javascript" %} "></script>
    <script src="{% static "js/bootstrap-select.js" type="text/javascript" %} "></script>
    <script src="{% static "js/bootstrapnew.js" type="text/javascript" %} "></script>
    <script src="{% static "js/script.js" type="text/javascript" %} "></script>
    {% endblock %}
</head>
<body>

{% block top-menu %}
<div class="menuLogotip">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <ul>
                    <li class="logo">
                        <a href="/home/"><img src="{% static "img/logotip.png" %} "></a>
                    </li>
                    <li><a href="/articles/category/all/">НОВОСТИ И СТАТЬИ</a></li>
                    <li><a href="/catalog/">КАТАЛОГ</a></li>
                    <li><a href="/catalog/ads/">ОБЪЯВЛЕНИЯ</a></li>
                    <li><a href="/accounts/bookmarks/">МОИ ЗАКЛАДКИ</a></li>
                    <li style="margin-top: 6px" class="tokosearch">
                        <form action="/search/">
                            <div class="input-prepend">
                                <input style="width:99px;" type="text" id="id_q" name="q" placeholder="поиск по сайту">
                                <span class="add-on">
                                    <button type="submit" value=""><img src="{% static "img/search.png" %}"></button>
                                </span>
                            </div>
                        </form>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/accounts/bookmarks/" class="register" style="text-align: center;">ЛИЧНЫЙ КАБИНЕТ</a>
                        </li>
                    {% else %}
                        <li><a href="#" class="register">ЛИЧНЫЙ КАБИНЕТ</a>
                            {% cabinet_widget %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pre-top-menu %}
<div class="container">
    <div class="row-fluid">
        {% top_menu_articles_category_list_tag %}
        <div class="span1 menuAfterLogo">
            <a class="pull-right" href="/feeds/articles/">RSS</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="row-fluid ">
{% mini_brands_list_tag %}
<div class="span11" style="margin-left: 11px">
    <div class="row-fluid">
        <div class="span8" style="height: 55px">
            <div id="islider" class="carousel slide" data-interval="2000">
                <div class="carousel-inner">
                {% for item in articles %}
                {% if forloop.counter0 == 0 %}
                <div class="item active">
                    {% thumbnail item.preview "460x340" as im %}
                        <img src="{{ im.url }}" alt="{{ item.title }}">
                    {% endthumbnail %}
                    <div class="info" >
                        <h2><a href="{{ item.slug }}" >{{ item.title }}</a></h2>
                        <p>{{ item.description|slice:":200" }}...</p>
                    </div>
                </div>
                {% else %}
                <div class="item">
                    {% thumbnail item.preview "460x380" as im %}
                        <img src="{{ im.url }}" alt="{{ item.title }}">
                    {% endthumbnail %}
                    <div class="info" >
                        <h2><a href="{{ item.slug }}" >{{ item.title }}</a></h2>
                        <p>{{ item.description|slice:":200" }}...<a href="{{ item.slug }}">Читать далее</a></p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                </div>
                <div class="thumbs carousel-indicators">
                    {% for item in articles %}
                    {% if forloop.counter0 == 0%}
                        <div data-target="#islider" data-slide-to="{{ forloop.counter0 }}" class="active"><img src="{{ item.preview.url }}" alt="{{ item.title }}" /><div><p><a href="{{ item.slug }}">{{ item.title }}</a></p></div></div>
                    {% else %}
                        <div data-target="#islider" data-slide-to="{{ forloop.counter0 }}"><img src="{{ item.preview.url }}" alt="{{ item.title }}" /><div><p><a href="{{ item.slug }}">{{ item.title }}</a></p></div></div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            

    </div>
        <div class="span4 border searchBoard" style=" width: 275px; float: right; ">
            <div class="row-fluid">
                <div class="span12 silverBackgraund">
                    <p style=" padding-left: 100px; ">ПОИСК ЯХТ</p>
                </div>
                <div class="span12">
                    <form action="/catalog/boats/search/" method="POST">{% csrf_token %}
                    {{ CatalogBoatSearchForm.boat_brand }}
                    <table>
                        <tr>
                            <td>Длина</td>
                            <td>от</td>
                            <td>{{ CatalogBoatSearchForm.boat_length_from }}</td>
                            <td>до</td>
                            <td>{{ CatalogBoatSearchForm.boat_length_to }}</td>
                        </tr>
                        <tr>
                            <td>Год</td>
                            <td>от</td>
                            <td>{{ CatalogBoatSearchForm.boat_year_from }}</td>
                            <td>до</td>
                            <td>{{ CatalogBoatSearchForm.boat_year_to }}</td>
                        </tr>
                        <tr>
                            <td>Цена</td>
                            <td>от</td>
                            <td>{{ CatalogBoatSearchForm.boat_cost_from }}</td>
                            <td>до</td>
                            <td>{{ CatalogBoatSearchForm.boat_cost_to }}</td>
                        </tr>
                    </table>
                    <input class="blueButton" type="submit" name="boat-search" value="НАЙТИ">
                    </form>
                    <p class="how">Как продать или купить яхту?</p>

                    <p class="see">Подробную информацию смотрите <a href="{% url 'howto_buy_or_sell' %}">здесь</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="span11" style="margin-left: 11px;padding-top:9px;">
    <div class="row-fluid secondrow">
        <div class="span4" style="width: 245px">
            {% if banner %}
                <a href="{{ banner.url }}"><img src="{{ banner.image.url }}" /></a>
            {% endif %}
        </div>
        <div class="span8 border">
            <div class="row-fluid">
                <div class="span12 silverBackgraund">
                    <p>ПОСЛЕДНИЕ ПРЕДЛОЖЕНИЯ ПО ЯХТАМ</p><span><a href="#" style="width: 25%"> Все предложения</a></span>
                </div>
                <div id="last" class="span12">
                    <div class="row-fluid size">
                        <div class="span1 date">
                            Дата
                        </div>
                        <div class="span2" style=" width: 102px; ">
                            </div>
                        <div class="span3 razmer" style=" width: 105px; ">
                            Марка, модель, год
                        </div>
                        <div class="span1 razmer1" style=" width: 57px; ">
                            Город
                        </div>
                        <div class="span2" style=" width: 75px; ">
                            Цена
                        </div>
                        <div class="span3">
                            Описание
                        </div>
                        </div>
                    {% for item in last_ads %}
                    <div class="row-fluid size2">
                        <div class="span1 date">
                            {{ item.pub_date|date:"d.m.Y" }}
                        </div>
                        <div class="span2 img">
                            <img src="{{ item.get_preview_image.image.url }}">
                        </div>
                        <div class="span3 names">
                            <p>{{ item.brand }}</p> <p>{{ item.model }}</p> {{ item.year }}
                        </div>
                        <div class="span1" style="width: 57px; padding-top: 1%">
                            <p>{{ item.user_state }}</p>({{ item.user_country }})
                        </div>
                        <div class="span2 moneys">
                            {{ item.show_cost }}
                        </div>
                        <div class="span3 obzor">
                          {{ item.text|slice:":100" }}<span><a href="/catalog/ads/detail/{{ item.id }}/">Подробнее</a></span>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="span11 silverBackgraund" style="margin-left: 11px">
    <p style="padding-left: 290px">САМЫЕ ПРОСМАТРИВАЕМЫЕ ОБЪЯВЛЕНИЯ</p><span><a href="/catalog/ads/" style="width: 15%"> Все объявления</a></span>
</div>
<div class="span11" style="margin-left: 11px">
    <div class="row-fluid">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for item in rate_ads %}
                {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                {% endif %}
                    <a href="/catalog/ads/detail/{{ item.id }}/">
                        <div>
                            <img src="{{ item.get_preview_image.image.url }}">
                            <p class="name">{{ item.brand }}</p>
                            <p class="name">{{ item.model }}</p>
                            <p class="money">{% if item.cost == 0 %}Цена договорная{% else %}{{ item.cost }}{{ item.currency }}{% endif %}</p>
                            <p class="country">{{ item.state }}({{ item.country }})</p>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev" style=" margin-top: -25px; "><img src="{% static "img/buttonleft.png" %}"></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next" style=" margin-top: -25px; "><img src="{% static "img/buttonright.png" %}"></a>
        </div>

    </div>
</div>
</div>
</div>
<div id="BeforeFooter" class="container">
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid marginSpan12">
                <div class="span12 silverBackgraund">
                   <p style=" padding-left: 240px; "> НОВОСТИ И СТАТЬИ ЯХТИНГА </p><span><a href="/articles/category/all/" style="width: 23%">Все статьи и новости</a></span>
                </div>
                <div class="span12 " style="margin: 0px">
                    <div class="row-fluid news">
                        {% for item in articles %}
                        <div class="span12">
                            {% thumbnail item.preview "180x118" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <p class="date">{{ item.pub_date|date:"d.m.Y" }} <span>{{ item.category }}</span></p>
                            <p class="main">{{ item.title }}</p>
                            <p class="general">{{ item.description|safe }}</p>
                            <p><a href="{{ item.slug }}">Подробнее</a></p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="span12" style="margin: 20px 0px 0px 0px">
                        <div class="row-fluid">
                            <div class="span12 silverBackgraund">
                                <p style=" padding-left: 300px; ">КАТАЛОГ </p><span><a href="/catalog/" style="width: 15%">Все модели</a></span>
                            </div>
                            <div class="span12 catalog border" style="margin: 0px">
                                <p>Все о модели:</p>
                                <p>{{ CatalogModelSearchForm.model_brand }}</p>
                                <p><div id="id_div_model_product">{{ CatalogModelSearchForm.model_product }}</div></p>
                                <p><button class="blueButton" id="id_model_search_button">СМОТРЕТЬ</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3 border">
            <div class="row-fluid">
                <div class="span12 silverBackgraund">
                    <p style=" padding-left: 65px; ">ФОТО</p><span><a href="/gallery/all/" style="width: 38%"> Все фото</a></span>
                </div>

                {% if rand_gallery %}
                    <div id="Foto" class="span12 foto sliderfoto">
                        <div id="myCarousel2" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% for gal in rand_gallery %}
                                    <div class="{% if forloop.counter == 1 %}active {% endif %}item"><a href="{% url "one_gallery" gal.slug %}" style="margin: 0px; padding: 0px;"><p class="center">{{ gal.title }}</p><img src="
                                            {% thumbnail gal.get_random_image "224x149" crop="center" as im %}
                                                {{ im.url }}
                                            {% endthumbnail %}
                                        "></a></div>
                                {% endfor %}
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control1 left" href="#myCarousel2" data-slide="prev" style=" margin-top: 0px; "><img src="{% static "img/slideFotoLeftNoActiv.png" %}"></a>
                            <a class="carousel-control1 right" href="#myCarousel2" data-slide="next" style=" margin-top: 0px; "><img src="{% static "img/slideFotoRightNoActiv.png" %}"></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="span3 " style="margin-top: 10px">
            <div class="row-fluid">
                <div class="span12 silverBackgraund">
                    <p style=" padding-left: 35px; ">ТЕСТИРОВАНИЕ</p><span><a href="/articles/category/testing/" style="width: 38%"> Все тесты</a></span>
                </div>
                <div class="span12 border" style="margin: 0px">
                    <div class="row-fluid testing">
                        {% for item in testing %}
                        <div class="span12">
                            {% thumbnail item.preview "100x71" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <p class="date">{{ item.date }}</p>
                            <p class="main">{{ item.title }}</p>
                            <p class="general">
                                {{ item.description|slice:":60" }}...<a href="/articles/category/testing/{{ item.slug }}/">Подробнее</a>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="span12 silverBackgraund social" style="margin-left: 0px;">
                <p style=" padding-left: 60px; ">It is a long establishe</p>
            </div>
            <div class="span12" style="background-color: blue; height: 95px">

            </div>
            <div class="span12" style="background-color: #7fff00; height: 150px">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function model_search_select_linked(){
  $.get('/catalog/search/model/ajax/?brand='+$('#id_model_brand').val(), function(data) {
        $("#id_div_model_product").html(data);
    });
};

$(function() {
  $('#id_model_brand').on('change', function() {
    model_search_select_linked();
  });

  $.get('/catalog/search/model/ajax/?brand='+$('#id_model_brand').val(), function(data) {
        $("#id_div_model_product").html(data);
  });

  //перенаправляем по клику при выборе марки и модели на сформированый урл
  $('#id_model_search_button').click(function(){
    if($("#id_model_product").val()!="") {
        window.location = "/catalog/product/details/"+$("#id_model_product").val();
    }
    else {
        alert("Выберите модель");
    }
  });

});
</script>



{% endblock %}

{% block footer %}
<div class="Line">
    <div class="container footer" style=" padding: 30px 0px; ">
        <div class="span12 ">
            <div class="row-fluid">
                <div class="span3" style=" line-height: 30px; ">
                    <img src="{% static "img/logo_footer.png" %}" /> <br />
                    &copy; 2013 &laquo;Proboating.ru&raquo;<br />
                    <span class="subscribe">Подписаться на обновления по RSS</span>
                    <div class="input-prepend">
                        <input style="width: 70%;" type="text" placeholder="Ваш и-мейл">
                        <button class="btn btn-link add-on">
                            <img src="{% static "img/search3.png" %} ">
                        </button>
                    </div>

                </div>
                <div class="span3">
                    <ul>
                        <li><a href="/catalog/ads/">ОБЪЯВЛЕНИЯ</a></li>
                        <li><a href="/search/">ПОИСК НА САЙТЕ</a></li>
                        <li><a href="/accounts/bookmarks/">МОИ ЗАКЛАДКИ</a></li>
                        <li><a href="#">О НАС</a></li>
                        <li><a href="#">РЕКЛАМА НА САЙТЕ</a></li>
                        <li><a href="#">УСЛОВИЯ СОТРУДНИЧЕСТВА</a></li>
                        <li><a href="#">КОНТАКТНАЯ ИНФОРМАЦИЯ   </a></li>
                    </ul>
                </div>
                {% articles_category_footer_list_tag %}
                {% watertrasport_footer_list_tag %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>