{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load verbatim %}
{% load widget_tweaks %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
<link rel="stylesheet" href=" {% static "css/multiuploader/jquery.fileupload-ui.css" %}">
{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <p class="tema">ОБЪЯВЛЕНИЯ > <br><span>{% if ad.active %}РЕДАКТИРОВАТЬ ОБЪЯВЛЕНИЕ{% else %}СОЗДАТЬ ОБЪЯВЛЕНИЕ{% endif %}</span></p>
        </div>
        <div class="span12"> 
            {% if AdAddForm.errors %}
                <div class="alert alert-error">
                {{ AdAddForm.non_field_errors }}
                {% for field in AdAddForm %}
                {% if field.errors %}
                    <p>{{ field.label }}</p>
                    {{ field.errors }}
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="span12 silverBackgraund12" style="margin-left:0px ">
            <p>ВИД ВОДНОГО ТРАНСПОРТА&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
        </div>
        <div class="span12 chekboxu border" style="margin: 0px 0px 10px 0px">
            {{ AdAddForm.kind }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span12 silverBackgraund12">
            <p>ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</p>
        </div>
        <div class="span12 border" style="margin: 0px; padding-top: 20px">
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span6 filterName">
                            <p>{{ AdAddForm.type.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.brand.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.model.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.yacht_state.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.country.label }}</p>
                            <p>{{ AdAddForm.year.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.body_material.label }}</p>
                            <p>{{ AdAddForm.body_shape.label }}</p>
                            <p>{{ AdAddForm.engine_number.label }}</p>
                            <p>{{ AdAddForm.engine_name.label }}</p>
                            <p>{{ AdAddForm.engine_type.label }}</p>
                            <p>{{ AdAddForm.engine_power.label }}</p>
                            <p>{{ AdAddForm.fuel_type.label }}</p>
                            <p>{{ AdAddForm.length.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.width.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.length_ft.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                            <p>{{ AdAddForm.width_ft.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></p>
                        </div>
                        <div class="span6 filterSelect">
                            <p>{{ AdAddForm.type }}</p>
                            <p>{{ AdAddForm.brand }}</p>
                            <p>{{ AdAddForm.model }}</p>
                            <p>
                                <ul class="inline">
                                    {% for radio in AdAddForm.yacht_state %}
                                    <li>
                                        {{ radio }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </p>
                            <p>{{ AdAddForm.country }}</p>
                            <p>{{ AdAddForm.year }}</p>
                            <p>{{ AdAddForm.body_material }}</p>
                            <p>{{ AdAddForm.body_shape }}</p>
                            <p>{{ AdAddForm.engine_number }}</p>
                            <p>{{ AdAddForm.engine_name }}</p>
                            <p>{{ AdAddForm.engine_type }}</p>
                            <p>{{ AdAddForm.engine_power }}</p>
                            <p>{{ AdAddForm.fuel_type }}</p>
                            <p>{{ AdAddForm.length }}</p>
                            <p>{{ AdAddForm.width }}</p>
                            <p>{{ AdAddForm.length_ft }}</p>
                            <p>{{ AdAddForm.width_ft }}</p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span6 nameKategori" style="width: 195px">
                            <p>{{ AdAddForm.draft.label }} <span>метров</span></p>
                            <p>{{ AdAddForm.height_above_water.label }} <span>метров</span></p>
                            <p>{{ AdAddForm.displacement.label }} <span>кг</span></p>
                            <p>{{ AdAddForm.weight.label }} <span>кг</span></p>
                            <p>{{ AdAddForm.cruising_speed.label }} <span>узлов</span></p>
                            <p>{{ AdAddForm.max_speed.label }} <span>узлов</span></p>
                            <p>{{ AdAddForm.fuel_capacity.label }} <span>л</span></p>
                            <p>{{ AdAddForm.water_capacity.label }} <span>л</span></p>
                            <p>{{ AdAddForm.passenger.label }} <span>человек</span></p>
                            <p>{{ AdAddForm.cabins_number.label }} </p>
                            <p>{{ AdAddForm.beds_number.label }} <span>человек</span></p>
                            <p>{{ AdAddForm.latrines_number.label }} </p>
                        </div>
                        <div class="span6 inputKategori" style="width: 268px">
                            <p>{{ AdAddForm.draft }}</p>
                            <p>{{ AdAddForm.height_above_water }}</p>
                            <p>{{ AdAddForm.displacement }}</p>
                            <p>{{ AdAddForm.weight }}</p>
                            <p>{{ AdAddForm.cruising_speed }}</p>
                            <p>{{ AdAddForm.max_speed }}</p>
                            <p>{{ AdAddForm.fuel_capacity }}</p>
                            <p>{{ AdAddForm.water_capacity }}</p>
                            <p>{{ AdAddForm.passenger }}</p>
                            <p>{{ AdAddForm.cabins_number }} </p>
                            <p>{{ AdAddForm.beds_number }}</p>
                            <p>{{ AdAddForm.latrines_number }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="container upload">
    <div class="row-fluid">
        <div class="span12 silverBackgraund12">
            <p>ФОТО</p>
        </div>
        <div class="span12 border" style="margin: 0px">
            <div id="fileupload">

        <div class="fileupload-buttonbar">
            <label class="fileinput-button">
                <span>Загрузить картинки...</span>
                <input type="file" name="files[]" multiple>
            </label>
        </div>

    <div class="fileupload-content">
        <div class="span12 uploadFoto" style="margin: 0px">
           <div class="row-fluid files">
                {% for item in ad.get_images %}
               <div class="span2 template-download">
                   <p class="delete">
                        <button data-type="GET" data-url="/catalog/ad/image/delete/{{ item.id }}" class="delete-button"></button>
                    </p>
                    {% thumbnail item.image "180x120" crop="center" as im %}
                    <div class="preview">
                        <img src="{{ im.url }}">
                    </div>
                    {% endthumbnail %}
                   <div class="cheku"><input type="radio" name="image-preview" value="{{ item.id }}"><p>Главное фото объявления</p></div>
               </div>
               {% endfor %}
           </div>
        </div>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row-fluid">
        <div class="span12 silverBackgraund12">
            <p>TЕКСТ ОБЪЯВЛЕНИЯ</p>
        </div>
        <div class="span12 border textSms" style="margin: 0px">
            {{ AdAddForm.text }}
            <p>Запрещается давать ссылки на какие-либо сайты или адреса электронной почты, указывать телефоны, указывать цену, предлагать какие=либо услуги, не связаные с продаваемой яхтой (пригоню на заказ, есть еще другие яхты, помогу выбрать и т.д.)</p>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 50px">
    <div class="row-fluid">
        <div class="span12 silverBackgraund12" style="">
            <p>УСЛОВИЯ ПРОДАЖИ ТА КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
        </div>
        <div class="span12 border" style="margin: 0px; padding-top: 20px">
            <div class="row-fluid forma">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">{{ AdAddForm.cost.label }}&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></label>
                        <div class="controls controls-row">
                            {{ AdAddForm.cost|add_class:"span2" }}
                            {{ AdAddForm.currency|add_class:"span1 selectOne" }}
                           <label class="checkbox inline">{{ AdAddForm.contract_cost }} договорная</label>
                       </div>
                    </div>
                    <div class="control-group">
                       <label class="control-label">Наличие в городе продажи </label>
                       <div class="controls controls-row">
                            {% for radio in AdAddForm.in_stock %}
                                <label class="radio inline">{{ radio.tag }} {{ radio.choice_label }}</label>
                            {% endfor %}
                       </div>
                    </div>
                    <div class="control-group">
                       <label class="control-label">Месторасположение &nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></label>
                       <div class="controls controls-row">
                           <div class="span1">Страна</div> 
                           {{ AdAddForm.user_country|add_class:"span3" }}
                           <div class="span1">Город</div>
                           {{ AdAddForm.user_state|add_class:"span3" }}
                       </div>
                    </div>
                    <div class="telefon">
                        <a id="add-phone" style="cursor: pointer; float:right; margin-right:470px;">добавить телефон</a>
                        {% for phone_form in PhoneFormSet %}
                        <div class="control-group" style="margin-bottom: 15px; ">
                        <label class="control-label">Телефон</label>
                            <div class="controls controls-row">
                           
                                <div id="phone-{{ forloop.counter0 }}">
                                    {{ phone_form.number|add_class:"span3" }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {{ PhoneFormSet.management_form }}
                    <div class="control-group">
                       <label class="control-label">E-mail</label>
                       <div class="controls controls-row">
                           {{ AdAddForm.email|add_class:"span3" }}
                       </div>
                   </div>
                    <div class="control-group">
                       <label class="control-label">Примечание</label>
                       <div class="controls controls-row">
                           {{ AdAddForm.note|add_class:"span3" }}
                       </div>
                    </div>
                    <div class="control-group">
                       <label class="control-label">Проверочный код&nbsp;<img src="{% static "img/zvezda.png" %}" class="star"></label>
                       <div class="controls controls-row">
                           <div class="span2 captcha">
                            {{ AdAddForm.captcha }}
                           </div>
                       </div>
                    </div>
                    <div class="control-group">
                       <div class="controls">
                         <p>Нажимая расположеную кнопку, Вы соглашаетесь с <a href="#">Правами использования сайта</a></p>
                       </div>
                    </div>
                    <div class="control-group">
                       <div class="controls">
                            {% if ad.active %}<input type="submit" class="btn blueButton" value="СОХРАНИТЬ ИЗМЕНЕНИЯ">{% else %}<input type="submit" class="btn blueButton" value="ДОБАВИТЬ ОБЪЯВЛЕНИЕ">{% endif %}
                           
                       </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>









{% verbatim %}
<script id="template-upload" type="text/x-jquery-tmpl">
    <div class="span2 template-upload{{if error}} ui-state-error{{/if}}">
        <div class="preview"></div>
        {{if error}}
            <div class="error">Error:
                {{if error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else}}${error}
                {{/if}}
            </div>
        {{/if}}
        <div class="cancel"><button>Cancel</button></div>
    </div>
</script>
<script id="template-download" type="text/x-jquery-tmpl">
    <div class="span2 template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
            <td></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">Error:
                {{if error === 1}}File exceeds upload_max_filesize
                {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{else error === 3}}File was only partially uploaded
                {{else error === 4}}No File was uploaded
                {{else error === 5}}Missing a temporary folder
                {{else error === 6}}Failed to write file to disk
                {{else error === 7}}File upload stopped by extension
                {{else error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                {{else error === 'emptyResult'}}Empty file upload result
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
        <p class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}" class="delete-button"></button>
        </p>
            <div class="preview">
                {{if thumbnail_url}}
                    <a href="${url}" target="_blank"><img src="${thumbnail_url}"></a>
                {{/if}}
            </div>
            <p class="name">
                <a href="${url}"{{if thumbnail_url}} target="_blank"{{/if}}></a>
            </p>
            <p colspan="2">
                <div class="cheku"><input type="radio" name="image-preview" value="${pk}"><p>Главное фото объявления</p></div>
            </p>
        {{/if}}

    </div>
</script>
{% endverbatim %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

<script src="{% static "js/multiuploader/jquery.fileupload.js" %} "></script>
<script src="{% static "js/multiuploader/jquery.fileupload-ui.js" %} "></script>
<script src="{% static "js/multiuploader/jquery.iframe-transport.js" %} "></script>
<script src="{% static "js/multiuploader/application.js" %} "></script>
<script src="{% static "js/underscore1.5.1.js" %}" ></script>

<script type="text/html" id="phone-template">
<div class="control-group" style="margin-bottom: 15px; ">
 <div class="controls controls-row">
  <div id="phone-<%= id %>">
    <input class="span3" id="id_ad_phone_set-<%= id %>-number" type="text" name="ad_phone_set-<%= id %>-number" maxlength="20">
    <input type="hidden" name="id_ad_phone_set-<%= id %>-ad" id="ad_phone_set-<%= id %>-ad">
    <input type="hidden" name="ad_phone_set-<%= id %>-id" id="id_ad_phone_set-<%= id %>-id">
  </div>
    </div>
</div>
</script>

<script type="text/javascript">

function country_select_linked(){
  $.ajax({
        url: '/catalog/ad/country/ajax/?country='+$("#id_user_country").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_user_state').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_user_state').html(options);
      }
  });
}


function select_linked(){
  $.ajax({
        url: '/catalog/admin/product/type/ajax/?watertransport='+$("input[name='kind']:radio:checked").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_type').html('<option value="">---------</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_type').html(options);
      }
  });
}

$(function() {
  $('input[name="kind"]').change(function() {
    select_linked();
  });

  select_linked();//load linked selects watertransport/typetransport

  $('#id_user_country').change(function() {
    country_select_linked();
  });

  country_select_linked();//load linked selects country/state

    // Добавление полей телефонов
    $("#add-phone").click(function () {
        var count = $('.telefon').children().length;
        var tmplMarkup = $('#phone-template').html();
        var compiledTmpl = _.template(tmplMarkup, { id : count });
        $('.telefon').append(compiledTmpl);
        // update form count
        $('#id_adphone_set-TOTAL_FORMS').attr('value', count+1);
    });



  //автозаполнять футы/метры
  $('#id_length').change(function() {
    $("#id_length_ft").val(($(this).val()*3.2808399).toFixed(2));
  });

  $('#id_length_ft').change(function() {
    $("#id_length").val(($(this).val()/3.2808399).toFixed(2));
  });

  $('#id_width').change(function() {
    $("#id_width_ft").val(($(this).val()*3.2808399).toFixed(2));
  });

  $('#id_width_ft').change(function() {
    $("#id_width").val(($(this).val()/3.2808399).toFixed(2));
  });

  $("#id_length_ft").val(($('#id_length').val()*3.2808399).toFixed(2));
  $("#id_width_ft").val(($('#id_width').val()*3.2808399).toFixed(2));

  //скрывать показывать цену если выбрана договорная цена
  $('#id_contract_cost').click(function() {
    if($(this).is(':checked')) {
        $("#id_cost").hide();
        $("#id_currency").hide();
    } else {
        $("#id_cost").show();
        $("#id_currency").show();
    }
  });
  if($("#id_contract_cost").is(':checked')) {
        $("#id_cost").hide();
        $("#id_currency").hide();
    } else {
        $("#id_cost").show();
        $("#id_currency").show();
    };

});
</script>
{% endblock %}