<div class="span9 silverBackgraund12" style=" margin-top: 0px; margin-left: 20px">
  <p class="pull-left">{{ ads_count }} объявлений</p>
  <div class="dropdown pull-right" style="margin: 5px">
  <a type="button" id="drop001" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.session.ads_list_ads_on_page }} <b class="caret"></b></a>.
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=10">10</a></li>
    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=20">20</a></li>
    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=30">30</a></li>
  </ul>
</div>
  <p class="pull-right iconki sulochka">Объявлений на странице</p>
</div>
<div class="span9 border">
  <div class="row-fluid">
    <div id="last" class="span12">
      <div class="row-fluid size  table11 iconki">
        <div class="span1 date2">Добавленно <i class="icon-caret-down"></i></div>
        <div class="span2 img">Фото</div>
        <div class="span1 date1">Год <i class="icon-caret-down"></i></div>
        <div class="span3 names" style="padding: 0px">Марка, модель</div>
        <div class="span1 country" style="padding: 0px">Местоположение</div>
        <div class="span2 moneys cena" style="padding: 0px">Цена <i class="icon-caret-down"></i></div>
        <div class="span3 obzor">Описание</div></div>
        {% for item in ads %}
        <div class="row-fluid size2 table11">
            <div class="span1 date2"><p>{{ item.pub_date|date:"d.m.y" }}</p></div>
            <div class="span2 img"><img src="{{ item.get_preview_image.image.url }}"></div>
            <div class="span1 date1"><p>{{ item.year }}</p></div>
            <div class="span3 names"><p>{{ item.brand }}</p><p>{{ item.model }}</p></div>
            <div class="span1 country"><p>{{ item.user_country }}</p>({{ item.user_state }})</div>
            <div class="span2 moneys">{{ item.show_cost }}</div>
            <div class="span3 obzor">{{ item.text|slice:":100" }}<span> <a href="/catalog/ads/detail/{{ item.id }}/">Подробнее</a></span></div>
        </div>
        {% endfor %}

        {% if ads.paginator.num_pages > 1 %}
          <div class="pagination">
            <ul>
              {% if ads.has_previous %}
                <li><a href="?page={{ ads.previous_page_number }}"> < </a></li>
              {% else %}
                <li><a href="#"> < </a></li>
              {% endif %}
              {% for num_page in ads.paginator.page_range %}
                  <li><a href="?page={{ num_page }}" {% if num_page == ads.number %}{% endif %}>{{ num_page }}</a></li>
              {% endfor %}
              {% if ads.has_next %}
              <li><a href="?page={{ ads.next_page_number }}">></a></li>
              {% else %}
              <li><a href="#">></a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}