{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load check_star_tag %}
{% load thumbnail %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/elastislide.css" %}" />
    <link href="{% static "css/social-likes.css" %} " rel="stylesheet"  type="text/css">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "js/social-likes.min.js" type="text/javascript" %} "></script>
    <script src="{% static 'js/style.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/jquery.elastislide.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
    <script>
        function init_form(){
            $('#form-ajax-button').click(function(){
                var obj = $(this);
                obj.text("Подождите");
                obj.prop('disabled', true);
                $.post("{% url "send_mail_to_author" ad.id %}",
                        {
                            csrfmiddlewaretoken: $(document.forms[0].csrfmiddlewaretoken).val(),
                            name: $('#id_name').val(),
                            email: $('#id_email').val(),
                            text: $('#id_text').val(),
                            captcha_0: $('#id_captcha_0').val(),
                            captcha_1: $('#id_captcha_1').val(),
                            copy_to_me: $('#id_copy_to_me').val()
                        },
                        function(data) {
                            $("#form-ajax-container").html(data);
                            init_form();
                        });
                return false;
            });
        }
        $(document).ready(function(){
            $('.rg-gallery').each(function(){
                gallery('#'+$(this).attr('id'));
            });
            init_form();
            });
 </script>
    <noscript>
        <style>
            .es-carousel ul{
            display:block;
            }
        </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev"><i class="icon-caret-left"></i></a>
                <a href="#" class="rg-image-nav-next"><i class="icon-caret-right"></i></a>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
               </div>
            </div>
        </div>
    </script>
{% endblock %}
{% block content %}
<div id="afisha" class="container" style="margin-top: 30px;">
    <div class="span12" style="margin: 0px">
        <div class="row-fluid">
            <div class="span6">
                <img src="{{ ad.get_preview_image.image.url }}">
            </div>
            <div class="span6">
                <p class="title">ОБЪЯВЛЕНИЕ > </p>
                <p class="name">{{ ad.brand }}, {{ ad.model }}</p>
                <table>
                    <tr><td>Год выпуска</td><td>{{ ad.year }}</td></tr>
                    <tr><td>Размер</td><td>{{ ad.length }} м</td></tr>
                    <tr><td>Цена</td><td class="cena">{{ ad.show_cost }}</td></tr>
                    <tr><td>Страна:</td><td>{{ ad.country }}</td></tr>
                </table>
                <div class="span12 rightOtFoto">
                    <div class="row-fluid">
                        <div class="span6">
                            <p class="phone"><i class="icon-phone"></i>{{ ad.phone }}</p>
                            <p style="margin-bottom: 10px;"><button class="blueButton buttonAvtor"  href="#">
                            <i class="icon-pencil icon-white" style="opacity:1;"></i> НАПИСАТЬ АВТОРУ</button>
                            <div id="dropmenu3" class="dropmenu-index stranica13">
                                <div class="row-fluid">
                                    <div class="span12" id="form-ajax-container">
                                        {% include "accounts/mail/sendmail_form.html" %}
                                    </div>
                                </div>
                            </div>
                            </p>
                            <p>Продавец: <span>{{ ad.author }}</span></p>
                            <p><a href="#" style="text-decoration: underline">Все обявление продавца</a></p>
                        </div>
                        <div class="span6 rightSpan6">
                            <p onclick="window.print()"><a href="#"><i class="icon-print"></i>Распечатать</a></p>
                            <p><a href="#"><i class="icon-download-alt"></i>Сохранить</a></p>
                            <p><a href="#"><i class="icon-envelope"></i>Отправить на почту друга</a></p>
                            <style>
                                #afisha .stars{
                                    margin: 0px 10px 0px 0px;
                                }
                            </style>
                            {% if request.user.is_authenticated %}
                                {% check_star "ad" ad.id %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 20px">
    <div class="span12 silverBackgraund">
        <p style="padding-left: 40%">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</p>
    </div>
    <div class="span12 border" style="margin: 0px">
        <div id="xz" class="row-fluid">
            <div  class="span6">
                <table>
                    <tr><td>Вид водного транспорта</td><td>&nbsp &nbsp</td><td>{{ ad.kind }}</td></tr>
                    <tr><td>Марка</td><td>&nbsp &nbsp</td><td>{{ ad.brand }}</td></tr>
                    <tr><td>Модель</td><td>&nbsp &nbsp</td><td>{{ ad.model }}</td></tr>
                    <tr><td>Состояние</td><td>&nbsp &nbsp</td><td>{{ ad.show_yacht_state }}</td></tr>
                    {% if ad.year %}<tr><td>Год выпуска</td><td>&nbsp &nbsp</td><td>{{ ad.year }}</td></tr>{% endif %}
                    {% if ad.country %}<tr><td>Страна-производитель</td><td>&nbsp &nbsp</td><td>{{ ad.country }}</td></tr>{% endif %}
                    {% if ad.body_material %}<tr><td>Материал корпуса</td><td>&nbsp &nbsp</td><td>{{ ad.body_material }}</td></tr>{% endif %}
                    {% if ad.body_shape %}<tr><td>Форма корпуса</td><td>&nbsp &nbsp</td><td>{{ ad.body_shape }}</td></tr>{% endif %}
                    {% if ad.engine_number %}<tr><td>Количество двигателей</td><td>&nbsp &nbsp</td><td>{{ ad.engine_number }}</td></tr>{% endif %}
                    {% if ad.engine_name %}<tr><td>Название двигателя</td><td>&nbsp &nbsp</td><td>{{ ad.engine_name }}</td></tr>{% endif %}
                    {% if ad.engine_type %}<tr><td>Тип двигателя</td><td>&nbsp &nbsp</td><td>{{ ad.engine_type }}</td></tr>{% endif %}
                    {% if ad.fuel_type %}<tr><td>Топливо</td><td>&nbsp &nbsp</td><td>{{ ad.fuel_type }}</td></tr>{% endif %}
                    {% if ad.engine_power %}<tr><td>Мощность двигателя</td><td>&nbsp &nbsp</td><td>{{ ad.engine_power }}</td></tr>{% endif %}
                    <tr><td>Длина</td><td>&nbsp &nbsp</td><td>{{ ad.length }} метры</td></tr>
                    <tr><td>Ширина</td><td>&nbsp &nbsp</td><td>{{ ad.width }} метры</td></tr>
                </table>
            </div>
            <div class="span6">
                <table>
                    {% if ad.draft %}<tr><td>Осадка</td><td>&nbsp &nbsp</td><td>{{ ad.draft }} м</td></tr>{% endif %}
                    {% if ad.height_above_water %}<tr><td>Высота над уровнем воды</td><td>&nbsp &nbsp</td><td>{{ ad.height_above_water }} м</td></tr>{% endif %}
                    {% if ad.displacement %}<tr><td>Водоизмещение</td><td>&nbsp &nbsp</td><td>{{ ad.displacement }} м</td></tr>{% endif %}
                    {% if ad.weight %}<tr><td>Вес</td><td>&nbsp &nbsp</td><td>{{ ad.weight }} кг</td></tr>{% endif %}
                    {% if ad.cruising_speed %}<tr><td>Крейсерская скорость</td><td>&nbsp &nbsp</td><td>{{ ad.cruising_speed }}</td></tr>{% endif %}
                    {% if ad.max_speed %}<tr><td>Максимальная скорость</td><td>&nbsp &nbsp</td><td>{{ ad.max_speed }}</td></tr>{% endif %}
                    {% if ad.fuel_capacity %}<tr><td>Запас топлива</td><td>&nbsp &nbsp</td><td>{{ ad.fuel_capacity }} л</td></tr>{% endif %}
                    {% if ad.water_capacity %}<tr><td>Запас воды</td><td>&nbsp &nbsp</td><td>{{ ad.water_capacity }} л</td></tr>{% endif %}
                    {% if ad.passenger %}<tr><td>Пассажировместимость</td><td>&nbsp &nbsp</td><td>{{ ad.passenger }}</td></tr>{% endif %}
                    {% if ad.cabins_number %}<tr><td>Число кают</td><td>&nbsp &nbsp</td><td>{{ ad.cabins_number }}</td></tr>{% endif %}
                    {% if ad.beds_number %}<tr><td>Спальни мест</td><td>&nbsp &nbsp</td><td>{{ ad.beds_number }}</td></tr>{% endif %}
                    {% if ad.latrines_number %}<tr><td>Количество гальюнов</td><td>&nbsp &nbsp</td><td>{{ ad.latrines_number }}</td></tr>{% endif %}
                </table>
            </div>
        </div>
    </div>
</div>

{% if ad.get_images %}
<div class="container" style="margin-top: 20px">
	<div class="row-fluid">
    <div class="span12 silverBackgraundCenter">
        <p style="padding-left: 45%"> ФОТО</p>
    </div>
	</div>
	<div class="row-fluid">
    <div  id="stranica" class="span12 border" style="margin: 0px; padding-top: 20px;">
        <div class="offset2 span8">
            <div id="rg-gallery" class="rg-gallery">
            <div class="rg-thumbs">
                <!-- Elastislide Carousel Thumbnail Viewer -->
                <div class="es-carousel-wrapper">
                    <div class="es-nav">
                        <span class="es-nav-prev"><i class="icon-caret-left"></i></span>
                        <span class="es-nav-next"><i class="icon-caret-right"></i></span>
                    </div>
                    <div class="es-carousel">
                        <ul>
                            {% for item in ad.get_images %}
                                <li><a href="#"><img
                                        {% thumbnail item.image "65x65" crop="center" as im %}
                                            src="{{ im.url }}"
                                        {% endthumbnail %}
                                        data-large="{{ item.image.url }}" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- End Elastislide Carousel Thumbnail Viewer -->
            </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
        </div>
        
    </div>
	</div>
</div>
{% endif %}

{% if ad.text %}
<div class="container" style="margin-top: 20px">
    <div class="span12 silverBackgraund">
        <p style="padding-left: 46%"> ОПИСАНИЕ</p>
    </div>
    <div class="span12 border opisanie" style="margin: 0px">
        <p>{{ ad.text }}</p>
    </div>
</div>
{% endif %}

<div class="container" style="margin-top: 20px">
    <div class="span12 silverBackgraund">

        <p style="padding-left: 35%"> УСЛОВИЯ ПРОДАЖИ И КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
    </div>
    <div class="span12 border buyAndsould">
        <div class="row-fluid">
            <div class="span4">
                <p>Цена</p>
                {% if ad.in_stock %}<p>Наличие в городе продажи</p>{% endif %}
                <p>Месторасположение</p>
                <p>Телефон</p>
                {% if ad.email %}<p>E-mail</p>{% endif %}
                {% if ad.note %}<p>Заметка</p>{% endif %}
            </div>
            <div class="span8">
                <p>{{ ad.show_cost }}</p>
                {% if ad.in_stock %}<p>{{ ad.in_stock }}</p>{% endif %}
                <p>{{ ad.user_state }}({{ ad.user_country }})</p>
                <p>
                {% for phone in ad.get_phones %}
                    <span>{{ phone.number }}</span> , 
                {% endfor %}
                </p>
                {% if ad.email %}<p>{{ ad.email }}</p>{% endif %}
                {% if ad.note %}<p>{{ ad.note }}</p>{% endif %}
                <p style="margin-bottom: 10px;"><button class="blueButton buttonAvtor"  href="#">
                    <i class="icon-pencil icon-white" style="opacity:1;"></i> НАПИСАТЬ АВТОРУ</button></p>
            </div>
        </div>
         </div>
    <div style="text-align:center">
        <ul class="social-likes">
	        <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
	        <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
	        <li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>
	        <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
	        <li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>
	        <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
    {% if same_ads %}
    <div class="span12 silverBackgraund" style="margin: 20px 0px 0px 0px">
        <p style="padding-left: 400px">ПОХОЖИЕ ОБЪЯВЛЕНИЯ</p>
    </div>
    <div class="span12" style="margin-left: 0px">
        <div class="row-fluid">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for item in same_ads %}
                    {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                    {% endif %}
                    <a href="/catalog/ads/detail/{{ item.id }}/">
                        <div>
                            <img src="{{ item.get_preview_image.image.url }}">
                            <p class="name">{{ item.brand }}</p>
                            <p class="name">{{ item.model }}</p>
                            <p class="money">{% if item.cost == 0 %}Цена договорная{% else %}{{ item.cost }}{{ item.currency }}{% endif %}</p>
                            <p class="country">{{ item.state }}({{ item.country }})</p>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left width970px" href="#myCarousel" data-slide="prev"><img src="{% static "img/buttonleft.png" %} "></a>
                <a class="carousel-control right1 width970px" href="#myCarousel" data-slide="next"><img src="{% static "img/buttonright.png" %} "></a>
            </div>

        </div>
    </div>
    {% endif %}

    {% if same_articles %}
        <div class="span12 silverBackgraund" style="margin-left: 0px">
            <p style="padding-left: 310px">СТАТЬИ И НОВОСТИ ОБ ЭТОЙ МАРКЕ</p><span><a href="/articles/category/all/" style="width: 15%"> Все объявления</a></span>
        </div>
        <div id="plitka" class="span12" style="margin: 0px">
            <div class="row-fluid">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                    {% for item in same_articles %}
                    {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                    {% endif %}
                    <a href="/catalog/ads/detail/{{ item.id }}/">
                        <div>
                            <img src="{{ item.get_preview_image.image.url }}">
                            <p class="name">{{ item.brand }}</p>
                            <p class="name">{{ item.model }}</p>
                            <p class="money">{% if item.cost == 0 %}Цена договорная{% else %}{{ item.cost }}{{ item.currency }}{% endif %}</p>
                            <p class="country">{{ item.state }}({{ item.country }})</p>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                    <a class="carousel-control left width970px" href="#myCarousel" data-slide="prev"><img src="{% static "img/buttonleft.png" %} "></a>
                    <a class="carousel-control right1 width970px" href="#myCarousel" data-slide="next"><img src="{% static " img/buttonright.png" %} "></a>

                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}