{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <p class="tema"><span>ОБЪЯВЛЕНИЯ</span>
              {% if user.is_authenticated %}
                <a class="blueButton srtanica11 addNews" href="/catalog/ads/add" style="width: 200px;text-align: center;padding-top: 10px;height: 30px;">СОЗДАТЬ ОБЪЯВЛЕНИЕ</a>
              {% endif %}
            </p>
        </div>
        <div class="span12" style="margin-left:0px ">
            <div class="row-fluid">
                <div id="filters" class="span3">
                   <div class="row-fluid">
                        <div id="id_filter_list">

                        </div>
                       <div class="span12 silverBackgraund" style="margin: 0px 0px 0px 0px;">
                           <p>ФИЛЬТРЫ</p>
                       </div>
                       <div class="span12 border" style="margin: 0px">
                           <ul>
                               <li><i class="icon-chevron-sign-right"></i>Тип водного транспорта</li>
                               {% for item in watertransport %}
                               		<li><a onclick="href_filter(this)" data-id="{{ item.id }}" data-name="{{ item.name }}" data-type="kind" href="#">{{ item.name }}</a></li>
                               {% endfor %}
                           </ul>
                       </div>
                       <div class="span12 border" style="margin: 10px 0px 0px 0px;">
                           <ul>
                               <li><i class="icon-chevron-sign-right"></i>Состояние</li>
                               <li><a onclick="href_filter(this)" data-name="Новая" data-id="1" data-type="yacht_state" href="#">Новая</a></li>
                               <li><a onclick="href_filter(this)" data-name="Б/у" data-id="2" data-type="yacht_state" href="#">Б/у</a></li>
                           </ul>
                       </div>
                       <div class="span12 border" style="margin: 10px 0px 0px 0px;">
                           <ul>
                               <li><i class="icon-chevron-sign-right"></i>Месторасположение</li>
                           </ul>
                           	{{ CatalogAdSearchForm.country }}
                           	{{ CatalogAdSearchForm.state }}
                       </div>
                       <div class="span12 border" style="margin: 10px 0px 0px 0px;">
                           <ul>
                               <li><i class="icon-chevron-sign-right"></i>Марка</li>
                           </ul>
                           {{ CatalogAdSearchForm.brand }}
                           <div id="id_div_model_ad" class="select200px"></div>
                       </div>
                   </div>
                </div>
                      <div id="id_ads_list"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



<script type="text/javascript">



function select_linked(){
  $.ajax({
        url: '/catalog/ad/country/ajax/?country='+$("#id_country").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_user_state').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_state').html(options);
      }
  });
}

function model_select_linked(){
  $.get('/catalog/search/model/ajax/?brand='+$('#id_brand').val(), function(data) {
        $("#id_div_model_ad").html(data);
    });
};

function href_filter(element){
  data = {
    id: $(element).attr('data-id'), 
    name: $(element).attr('data-name'),
    type: $(element).attr('data-type') 
  }
  $.ajax({
    type: "POST",
    url: '/catalog/ads/add/filter/ajax/',
    data: data,
    success: function () {
      ads_list();
      ads_filters();
    }
  });
}

function select_filter(element){
  data = {
    id: $(element).val(), 
    name: $("#"+$(element).attr('id')+" option:selected").text(),
    type: $(element).attr('id') 
  }
  console.log(data)
  $.ajax({
    type: "POST",
    url: '/catalog/ads/add/filter/ajax/',
    data: data,
    success: function () {
      ads_list();
      ads_filters();
    }
  });
}

function ads_list(){
  var list_page = window.location.search.replace( "?", "" );
  $.get('/catalog/ads/list/ajax/?'+list_page, function(data) {
        $("#id_ads_list").html(data);
  });
}

function ads_filters(){
  $.get('/catalog/ads/filters/ajax/', function(data) {
        $("#id_filter_list").html(data);
  });
}

$(function() {
  $('#id_country').on('change', function() {
    select_linked();
    select_filter($(this));
  });

  select_linked();//load linked selects country/state


  $('#id_brand').on('change', function() {
    model_select_linked();
    if($(this).val()!=''){
      select_filter($(this));
    };
  });

  model_select_linked();

  $('#id_div_model_ad').delegate('#id_model_product','change', function() {
    if($(this).val()!=''){
      select_filter($(this));
    };
  });

  $('#id_state').on('change', function() {
    if($(this).val()!=''){
      select_filter($(this));
    };
  });


  ads_filters();
  ads_list();
  
});
</script>



{% endblock %}