{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div class="container">
<p class="tema">ПОИСК > <br> <span class="new">ПОДОБРАТЬ ЯХТУ</span></p>
<div class="row-fluid ">
<div class="span2 search18" style="margin: 10px 0px 0px 0px">
    <div class="row-fluid">
        <div class="span12 silverBackgraund">
            <p class="search">ПОИСК</p>
        </div>
    </div>
    <div class="row">
        {% catalog_search_form_tag %}
        </div>


</div>

<div class="span9 toto" style="margin: 10px 10px 0px 10px;">
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span7 abzac24">
               <p>Вы выбрали для поиска: </p>
               <p>Марка: <span>{{ search_choose.boat_brand }}</span></p>
               {% if search_choose.boat_length_from or search_choose.boat_length_to %}
                <p>Длина: 
                    <span>
                    {% if search_choose.boat_length_from %} от {{ search_choose.boat_length_from }}{% endif %}
                    {% if search_choose.boat_length_to %} до {{ search_choose.boat_length_to }}{% endif %}
                    </span>
                </p>
                {% endif %}
                {% if search_choose.boat_year_from or search_choose.boat_year_to %}
                <p>Год: 
                    <span>
                    {% if search_choose.boat_year_from %} от {{ search_choose.boat_year_from }}{% endif %}
                    {% if search_choose.boat_year_to %} до {{ search_choose.boat_year_to }}{% endif %}
                    </span>
                </p>
                {% endif %}
                {% if search_choose.boat_cost_from %}
                <p>Стоимость: 
                    <span>
                    {% if search_choose.boat_cost_from %} от {{ search_choose.boat_cost_from }}{% endif %}
                    {% if search_choose.boat_cost_to %} до {{ search_choose.boat_cost_to }}{% endif %}
                    </span>
                </p>
                {% endif %}
               {% if search_choose.boat_kind %}<p>Вид: <span>{{ search_choose.boat_kind }}</span></p>{% endif %}
            </div>
        </div>

    </div>
    {% if product.items %}
    <div class="span12 abzac24" style="margin: 20px 0px 0px 0px">
       <p>Найдено: </p>
    </div>
    {% for type, products in product.items %}
    <div class="span12 podzagolovki" style="margin: 0px">
        {% if products %}
       <p>{{ type.name }}</p>
        <ul>
            {% for product in products %}
            <li>
                <a href="/catalog/product/details/{{ product.slug }}/">
                    {% thumbnail product.preview "135x90" as im %}
                        <a href="/catalog/product/details/{{ product.slug }}/"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    <p>{{ product.title }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div class="span12 abzac24" style="margin: 20px 0px 0px 0px">
       <p>К сожалению ничего не найдено. </p>
    </div>
    {% endif %}
</div>
</div>

{% popular_transport_list_tag %}



</div>
</div>
</div>
{% endblock %}