{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div id="stranica19" class="container">
<div class="span12" style="margin-left: 0px">
    <p  class="tema">Все бренды</p>
</div>
<div class="row-fluid ">

    <div class="span10">
<div class="row-fluid">
    <div class="span12 brendu" style="margin: 0px; width: 99%">
        <p class="zagolovok">Все марки этого вида:</p>
        <table>
            {% for brand in brands %}
            {% if forloop.counter0|divisibleby:"6" %}
                <tr class="brend stope">
            {% endif %}
                <td><a href="/catalog/brand/details/{{ brand.slug }}"><img src="{{ brand.logo.url }}" rel="tooltip" title="{{ brand.name }}"></a></td>
            {% if forloop.counter|divisibleby:"6" or forloop.last %}
                </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    </div>
    </div>


    <div class="span2">
        {% catalog_search_form_tag %}
    </div>

    </div>
</div>
</div>
{% endblock %}