{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div id="stranica19" class="container">
<div class="span12" style="margin-left: 0px">
    <p  class="tema">КАТАЛОГ > <span class="new">КАТЕР</span>
    </p>
</div>
<div class="row-fluid ">
    <div class="span10">
        <div class="row-fluid">
            <div class="span12 bigShip" style="margin: 0px">
                {% thumbnail water_transport.logo "768x283" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
                <p>{{ water_transport.name }}</p>
                <p>{{ water_transport.description|safe }}</p>
            </div>
            <div class="span12 brendu" style="margin: 0px; width: 99%">
                <p class="zagolovok">Все марки этого вида:</p>
                <table>
                    {% for brand in water_transport.get_brands %}
                    <tr class="brend stope">
                        <td><a href="/catalog/brand/details/{{ brand.slug }}"><img src="{{ brand.logo.url }}" rel="tooltip" title="{{ brand.name }}"></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% for item in random_water_transport %}
    <div class="span2 onPicture">
         <a href="/catalog/brand/list/{{ item.slug }}/">
            {% thumbnail item.logo "170x126" as im %}
                <img src="{{ im.url }}">
            {% endthumbnail %}
            <p>{{ item.name }}</p>
        </a>
    </div>
    {% endfor %}
<div class="span2">
    {% catalog_search_form_tag %}
</div>


    {% popular_transport_list_tag %}
</div>
</div>
{% endblock %}