{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div class="container">
    <p class="tema">КАТАЛОГ > КАТЕРА > <br><span> {{ brand.name }}</span></p>
    <div class="row-fluid ">
    {% mini_brands_list_tag %}
    <div class="span9 toto" style="margin: 10px 10px 0px 10px;">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div id="textInfo" class="span7">
                    <p>{{ brand.name }}</p>
                    <p>Компания владелец: <span>{{ brand.company }}</span></p>
                    {% if brand.alt_name %}<p>Альтернативные названия: <span>{{ brand.alt_name }}</span></p>{% endif %}
                    <p>Страна: <span>USA</span></p>
                    <p>Описание: <span>{{ brand.description|safe }}</span></p>
                </div>
                <div class="span5">
                    <img src="img/logo20ship.png">
                </div>
            </div>
        </div>

        <div class="span12 zagolovki" style="margin: 0px">
            <p>Модельный ряд</p>
        </div>
        {% for type, products in product.items %}
        <div class="span12 podzagolovki " style="margin: 0px">
        {% if products %}
            <p>{{ type.name }}</p>
            <ul>
            {% for product in products %}
                <li>
                    {% thumbnail product.preview "135x90" as im %}
                        <a href="/catalog/product/details/{{ product.slug }}/"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    <p><a href="/catalog/product/details/{{ product.slug }}/">{{ product.title }}</a></p>
                </li>
            </ul>
            {% endfor %}
        {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>

        <div class="span2" style="margin-left: 0px">
            <div class="row-fluid">
                <div class="span12">
                    {% catalog_search_form_tag %}
                </div>
            </div>
        </div>



    {% popular_transport_list_tag %}
    </div>
</div>
{% endblock %}