{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% block content %}
<div class="container">
<div class="row-fluid ">
{% mini_brands_list_tag %}

<div class="span9" style="margin: 10px 10px 0px 10px">
<div class="row-fluid">
    {% for item in water_transport %}
    <div class="span12 stranica18">
        <div class="row-fluid">
            <div class="span6 bigPicture">
                <a href="/catalog/brand/list/{{ item.slug }}/">
                    <img src="{{ item.logo.url }}">
                    <div class="podlozhka">
                        <p>{{ item.name }}</p> <p> {{ item.description }}</p>
                    </div>
                </a>
            </div>
            <div class="span6 brendu">
                <p class="zaglavie">Популярные марки катеров:  <span><a href="/catalog/brand/list/{{ item.slug }}">Все марки</a> </span></p>
                <table>
                    {% for brand in item.get_brands %}
                    {% if forloop.counter0|divisibleby:"3" %}
                        <tr class="brend">
                    {% endif %}
                        <td><a href="/catalog/brand/details/{{ brand.slug }}"><img src="{{ brand.logo.url }}" rel="tooltip" title="{{ brand.name }}"></a>
                        </td>
                    {% if forloop.counter|divisibleby:"3" or forloop.last %}
                        </tr>
                    {% endif %}
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
    <div class="span2" style="margin-left: 0px">
        {% catalog_search_form_tag %}

    </div>
    {% popular_transport_list_tag %}
</div>
</div>
{% endblock %}