{% extends 'base.html' %}
{% load staticfiles %}
{% load catalog_tags %}
{% load thumbnail %}
{% load check_star_tag %}
{% block css %}
    {{ block.super }}
    <link href="{% static "css/social-likes.css" %} " rel="stylesheet"  type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "css/elastislide.css" %}" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "js/social-likes.min.js" type="text/javascript" %} "></script>
    <script type="text/javascript" src="{% static "js/jquery.tmpl.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.elastislide.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('.rg-gallery').each(function(){
                gallery('#'+$(this).attr('id'));
            });
        });
    </script>
    <noscript>
        <style>
            .es-carousel ul{
                display:block;
            }
        </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">    
        <div class="rg-image-wrapper">
                <div class="rg-image-nav">
                    <a href="#" class="rg-image-nav-prev"><i class="icon-caret-left"></i></a>
                    <a href="#" class="rg-image-nav-next"><i class="icon-caret-right"></i></a></div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
        </div>
    </script>
{% endblock %}
{% block content %}
<div class="container">
<div class="span12">
    <div class="row-fluid">
        <div class="span7">
            <p  class="tema">КАТАЛОГ > {{ product.kind }} > {{ product.brand }} ><br> <span class="new">{{ product.title }}</span>
            </p>
        </div>
        <div class="span3 add21 ftwvkg" style="width: 25%;">
            {% if request.user.is_authenticated %}
                {% check_star "product" product.id %}
            {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12" style="margin: 0px;">
        <div class="row-fluid">
            <div  id="testingBoard" class="span12">
                <div id="stranica" class="row-fluid">
                    <div class="offset2 span8">
                        <div id="rg-gallery" class="rg-gallery">
                            <div class="rg-thumbs">
                                <div class="es-carousel-wrapper">
                                    <div class="es-nav">
                                        <span class="es-nav-prev"><i class="icon-caret-left"></i></span>
                                        <span class="es-nav-next"><i class="icon-caret-right"></i></span>
                                    </div>
                                    <div class="es-carousel">
                                        <ul>
                                        {% for item in product.get_images %}
                                            <li><a href="#"><img src="{{ item.image.url }}" data-large="{{ item.image.url }}" alt="{{ product.title }}" data-description="" /></a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="margin-top: 20px">
                        <div class="span12 silverBackgraund">
                            <p style="padding-left: 40%">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</p>
                        </div>
                        <div class="span12 border" style="margin: 0px">
                            <div id="xz" class="row-fluid">
                                <div  class="span6">
                                    <table>
                                        <tr>
                                            <td>Вид водного транспорта</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.kind }}</td>
                                        </tr>
                                        <tr>
                                            <td>Тип транспорта</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Марка</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.brand }}</td>
                                        </tr>
                                        <tr>
                                            <td>Модель</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.model }}</td>
                                        </tr>
                                        <tr>
                                            <td>Год выпуска</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.year }}</td>
                                        </tr>
                                        <tr>
                                            <td>Страна-производитель</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.country }}</td>
                                        </tr>
                                        <tr>
                                            <td>Материал корпуса</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.body_material }}</td>
                                        </tr>
                                        <tr>
                                            <td>Форма корпуса</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.body_shape }}</td>
                                        </tr>
                                        <tr>
                                            <td>Количество двигателей</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.engine_number }}</td>
                                        </tr>
                                        <tr>
                                            <td>Название двигателя</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.engine_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Тип двигателя</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.engine_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Топливо</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.fuel_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Мощность двигателя</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.engine_power }}</td>
                                        </tr>
                                        <tr>
                                            <td>Длина</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.length }} m</td>
                                        </tr>
                                        <tr>
                                            <td>Ширина</td>
                                            <td>&nbsp &nbsp</td>
                                            <td>{{ product.width }} м</td>
                                        </tr>
                                    </table>
                                </div>
                            <div class="span6">
                                <table>
                                    <tr>
                                        <td>Осадка</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.draft }} м</td>
                                    </tr>
                                    <tr>
                                        <td>Высота над уровнем воды</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.height_above_water }} м</td>
                                    </tr>
                                    <tr>
                                        <td>Водоизмещение</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.displacement }} м</td>
                                    </tr>
                                    <tr>
                                        <td>Вес</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.weight }} кг</td>
                                    </tr>
                                    <tr>
                                        <td>Крейсерская скорость</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.cruising_speed }}</td>
                                    </tr>
                                    <tr>
                                        <td>Максимальная скорость</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.max_speed }}</td>
                                    </tr>
                                    <tr>
                                        <td>Запас топлива</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.fuel_capacity }} л</td>
                                    </tr>
                                    <tr>
                                        <td>Запас воды</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.water_capacity }} л</td>
                                    </tr>
                                    <tr>
                                        <td>Пассажировместимость</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.passenger }}</td>
                                    </tr>
                                    <tr>
                                        <td>Число кают</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.cabins_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Спальни мест</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.beds_number }}</td>
                                    </tr>
                                    <tr>
                                        <td>Количество гальюнов</td>
                                        <td>&nbsp &nbsp</td>
                                        <td>{{ product.latrines_number }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: 20px">
                    <div class="span12 silverBackgraund">
                        <p style="padding-left: 45%"> ОПИСАНИЕ</p>
                    </div>
                    <div class="span12 border opisanie" style="margin: 0px">
                        {{ product.text|safe }}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div style="text-align:center">
            <ul class="social-likes">
                <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
                <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
                <li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>
                <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
                <li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>
                <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
            </ul>
            </div>
    {% if same_ads %}
    <div class="span12 silverBackgraund" style="margin: 20px 0px 0px 0px">
        <p style="padding-left: 400px">ПОХОЖИЕ ОБЪЯВЛЕНИЯ</p>
    </div>
    <div class="span12" style="margin-left: 0px">
        <div class="row-fluid">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for item in same_ads %}
                    {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                    {% endif %}
                    <a href="/catalog/ads/detail/{{ item.id }}/">
                        <div>
                            <img src="{{ item.get_preview_image.image.url }}">
                            <p class="name">{{ item.brand }}</p>
                            <p class="name">{{ item.model }}</p>
                            <p class="money">{% if item.cost == 0 %}Цена договорная{% else %}{{ item.cost }}{{ item.currency }}{% endif %}</p>
                            <p class="country">{{ item.state }}({{ item.country }})</p>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left width970px" href="#myCarousel" data-slide="prev"><img src="{% static "img/buttonleft.png" %} "></a>
                <a class="carousel-control right1 width970px" href="#myCarousel" data-slide="next"><img src="{% static "img/buttonright.png" %} "></a>
            </div>

        </div>
    </div>
    {% endif %}

        {% if same_articles %}
        <div class="span12 silverBackgraund" style="margin-left: 0px">
            <p style="padding-left: 310px">СТАТЬИ И НОВОСТИ ОБ ЭТОЙ МАРКЕ</p><span><a href="/articles/category/all/" style="width: 15%"> Все объявления</a></span>
        </div>
        <div id="plitka" class="span12" style="margin: 0px">
            <div class="row-fluid">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                    {% for item in same_articles %}
                    {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                    {% endif %}
                    <a href="/catalog/ads/detail/{{ item.id }}/">
                        <div>
                            <img src="{{ item.get_preview_image.image.url }}">
                            <p class="name">{{ item.brand }}</p>
                            <p class="name">{{ item.model }}</p>
                            <p class="money">{% if item.cost == 0 %}Цена договорная{% else %}{{ item.cost }}{{ item.currency }}{% endif %}</p>
                            <p class="country">{{ item.state }}({{ item.country }})</p>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
                </div>
                    <a class="carousel-control left width970px" href="#myCarousel" data-slide="prev"><img src="{% static "img/Bigbuttonleft.png" %}"></a>
                    <a class="carousel-control right1 width970px" href="#myCarousel" data-slide="next"><img src="{% static "img/Bigbuttonright.png" %}"></a>

                </div>
            </div>
        </div>
        {% endif %}

        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}