/* Elastislide Style */
.es-carousel-wrapper{
	background:#eaeaea;
	padding:5px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	position:relative;
	position:relative;
	margin-bottom:20px;
    overflow:hidden;
}
.es-carousel{
	overflow:hidden;
	background:#eaeaea;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:transparent;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:0;
	left:0px;
	background:rgba(255,255,255,0.8);
	width:20px;
	height:100%;
	margin-top:0px;
	cursor:pointer;
	opacity:0.8;
    padding:18px 5px;
    
    font-size:42px;
    color:#052d45;
}
.es-nav span.es-nav-next{
	right:0px;
	left:auto;
}
.es-nav span:hover{
	opacity:1.0;
}