
body {
    background-color: #ffffff;
    font-family: 'Arial';
    font-size:12px;
    color:#59473e;
    min-height:100%;
    padding-bottom:351px;
    position:relative;
}
a {
    color:#02728c;
}
.rg-image img{
    width: 100%;
}
.searchBoard input.blueButton{
    background-color: #0183a1;
    border: none;
    color: white;
    width: 210px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    margin-left: 27px;
}
/*slider on index */
#islider {
    width:457px;
}
#islider img {
    width: 153px;
    height: 119px;
}
#islider .carousel-inner{
    height: 356px;
    width: 445px;
}
#islider .carousel-inner .item img{
    height: 356px;
    width: 445px;
}
#islider .thumbs{
    float: right;
    position: absolute;
    top: 0;
    right: -140px;
    width:153px;    
    height: 356px;
    overflow: hidden;
}
#islider .thumbs > div {
    position:relative;
    height: 119px;
}
#islider .thumbs > div img {
    filter: contrast(50%);
    -webkit-filter: contrast(50%);
}
#islider .thumbs > div.active img {
    filter: contrast(100%);
    -webkit-filter: contrast(100%);
}
#islider .thumbs div > div {
    position:absolute;
    bottom:0px;
    background:rgba(5,45,63,0.6);
    color:#fff;
    width:133px;
    padding:13px 10px;
}
#islider .thumbs div > div p {
    margin:0;
}
#islider .info {
    position: absolute;
    top: 253px;
    background: rgba(5,45,63,0.6);
    width: 94%;
    text-align: left;
    padding: 0px 16px 10px 16px;
    height: 93px;
}
#islider a {
    color:#fff;
}
#islider .info h2{
    font-family:Georgia;
    font-size:20px;
    font-style:italic;
    font-weight:normal;
    color:#fff;
    margin:0;
}
#islider .info p {
    color:#cdd3cb;    
}
/* end slider on index */ 
.footer .colorSilver .newline a{
    color: #000000;
    text-decoration: underline;
    }
.colorSilver .newline a:hover {
    text-decoration: none;
    }
.menuLogotip {
    background-color: #0183a1;
    width: 100%;
    margin-top: 30px;
    font-family: 'Open Sans';
    font-size:12px;
}
.menuLogotip .logo{
     margin-left: -24px;
     width: 227px;
 }
.menuLogotip ul li:last-child a:hover {
    text-decoration: none;
}
.menuLogotip ul li:last-child{
    background: url("../img/1.png") 0px 40px;
    margin: 0px;
    padding-top: 10px;
    height: 30px;
    padding-left: 24px;
    width: 146px;
    position: relative;
    left: 0;
}
.menuLogotip ul li:last-child:hover {
    cursor: pointer;
    background: url("../img/1.png") 0px 0px;
}
.menuLogotip ul li{
    float: left;
    list-style-type: none;
    margin-top: 9px;
    margin-right: 11px;
}
.menuLogotip .input-prepend input {
    border-color: #44a5bd;
}
.menuLogotip .input-prepend input:focus{
    border-color: #44a5bd;
}
.menuLogotip input {

    width: 135px;
    color: #ffffff;
    height: 16px;

}
.menuLogotip .span12 {
    height: 40px;
}
.menuLogotip a{
    color: #ffffff;
    font-size: 12px;
}
.menuLogotip ul li:first-child{
    position: relative;
    margin-top: -20px;
    margin-right: -15px;
}
#smallLogo ul li {
    list-style-type: none;
    background-color: #eaeaea;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    max-width: 80px;
    height: 28px;
    padding: 5px;
    font-size: 11px;
}
#smallLogo .span1 {
    margin-top: 10px;
}
.menuLogotip .Li4nuyActive{
    background: url("../img/activeMyKabinet.png");
}
#smallLogo ul li:hover {
    background-color: #f5f5f5;
}
#smallLogo ul {
    margin: 0px;
}
#smallLogo p{
    margin: 0px;
    padding-top: 5px;
}
#id_div_model_product{
    float: left;
}
#smallLogo .span1{
    width: 80px;
    min-height: 1150px;
    max-height: 1190px;
}
#optionsRadios1 {
    float: right;
    margin-left: 3px;
    width: 15px;
    height: 15px;
}
#optionsRadios2 {
    float: right;
    margin-left: 3px;
    width: 15px;
    height: 15px;
}
.menuAfterLogo {
    padding-top: 8px;
    padding-left: 13px;
}
.menuAfterLogo a{
    font-size: 13px;
    color: #6f6058;
    margin-right: 14px;
    font-family:'Open Sans';
}
.menuAfterLogo a:first-child{
    margin-left: 33px;
}
.silverBackgraundCenter {
    background-color: #eaeaea;
    margin:0px;
    height: 30px;
    display: inline-block;
    padding-left: 2px;
    color: #59473e;
}
.silverBackgraundCenter p{
    padding-top: 5px;
    display: inline-block;
    color: #59473e;
    text-align: center;
}
.silverBackgraund {
    background-color: #eaeaea;
    margin:0px;
    height: 30px;
    display: inline-block;
    padding-left: 2px;
    color: #59473e;
    font-family:'Open Sans';
    font-size:12px;
    
}
.silverBackgraund12 {
    background-color: #eaeaea;
    margin-top: 10px;
    height: 30px;
}
.silverBackgraund12 p{
    padding-top: 5px;
    display: inline-block;
    padding-left: 10px;
    color: #59473e;
    font-family: 'open sans', 'sans-serif';
    font-size: 12px;
}
.silverBackgraund p{
    padding-top: 5px;
    display: inline-block;
    padding-left: 150px;
    color: #59473e;
    font-family: 'Open Sans', sans-serif;
}
.silverBackgraund a{
    background: #ffd5b5 url('../img/2.jpg') 0 0 no-repeat;
    height: 26px;
    padding-top: 4px;
    padding-right: 9px;
    text-decoration: underline;
    float: right;
    color: #e77a48;
    text-align: right;
    font-family:Arial;
}
.silverBackgraund a:hover {
    text-decoration: none;
}
.border{
    border: 1px solid #eaeaea;
}
.searchBoard a{
    color: #de591f;
    text-decoration: underline;
}
.searchBoard a:hover{
    text-decoration: none;
}
.searchBoard table {
    margin-bottom: 20px;
    border-spacing: 0px 5px;
    border-collapse: separate;
}
.searchBoard button{
    background-color: #0183a1;
    width: 257px;
    height: 40px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    font-family: 'Open Sans';
    text-transform:uppercase;
}
.searchBoard button:hover {
    background-color: #0a91b0;
}
.searchBoard table tr td{
    margin-right: 5px;
    margin-bottom: 10px;
}
.searchBoard tr td:first-child{
    width: 43px;
    text-align: right;
}
.searchBoard tr td {
    width: 33px;
    text-align: center;
}
.searchBoard input{
    height: 21px;
    width: 57px;
}
.searchBoard span {
    float: left;
    margin-top: 10px;
}
.how {
    text-align: center;
    font:italic 14px/11px Georgia;
    margin-top: 10px;
    margin-bottom: 5px;
}
.see {
    font:12px/11px Arial;
    text-align: center;
}
.news img {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left:10px;
    width: 190px;
    height: 125px;
}
.news .date {
    font-size: 12px;
    color: #999999;
}
.news p {
    margin: 0px;
}
.news .date span{
    text-decoration: underline;
    margin-left: 10px;
}
.news .general {
    line-height: 16px;
    color:#59473e;
}
.news .general a{
  text-decoration: underline;
}
.news .general a:hover{
    text-decoration: none;
}
.news .main {
    font-size: 20px;
    font-family:Georgia;
    color: #0183a1;
    font-style: italic;
    margin-bottom: 10px;
}
.news p {
    overflow: hidden;
}
.news .span12{
    margin-top: 5px;
    padding: 10px 10px 10px 0px;
    margin-left: 0px;
}
.news .span12:hover {
    background-color: #eaeaea;
    cursor: pointer;
}
.testing img {
    float: left;
    padding-right: 5px;
}
.testing .date {
    font-size: 12px;
    color: #999999;
}
.testing p {
    overflow: hidden;
}
.testing .main {
    font-size: 12px;
    font-family:Georgia;
    color: #0183a1;
    font-style: italic;
}
.testing p{
    font-size: 12px;
    margin: 0px;
    line-height: 14px;
}
.testing .span12{
     margin-top: 5px;
     padding: 10px;
     margin-left: 0px;
 }
.testing .span12:first-child{
    padding: 10px;
    margin-left: 0px;
}
.testing .span12:hover {
    background-color: #eaeaea;
    cursor: pointer;
}
.foto p{
    text-align: center;
}
#Foto .xz{
    margin: 0px;
    overflow: hidden;
    width: 145px;
}
.social {
    margin: 10px 0px 10px 0px;
}
.footer .span12{
    margin-left: 0px;
    padding-top: 20px;
}
.footer a{
    color: #59473e;
}
.footer ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.Line {
    border-top: 1px solid silver;
    margin-top: 50px;
    bottom:0;
    position:absolute;
    width:100%;
}
.footer .input-prepend button {
    background-color: #eeac8f;
    padding: 0px;
    height: 26px;
    width: 30px;
    border: #eeac8f;
}
.vuravnyoy .span12{
    margin-left: 0px;
}
.vuravnyoy .span6{

}
.pokaz {
    margin: 20px 0px 0px 0px;
    background-color: #eaeaea;
    padding-top: 7px;
    font-family: 'Open Sans', 'sans-serif';
    color: #59473e;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.footer .input-prepend input {
    border-color: #eeac8f;
    width: 135px;
    height: 16px;
    border-right: none;
}
.footer .input-prepend input:focus {
    border-color: #eeac8f;
}
.footer span.subscribe {
    color:#888;
    font:13px/19px 'Open Sans';
}
.footer .color {
    color: #999999;
}
.footer .colorSilver a{
     color: #999999;
}
.catalog {
    padding-top: 20px;
}
.catalog p{
    float: left;
    padding-top: 9px;
}
.catalog div{
    padding-top: 9px;
}
.catalog select{
    border-radius: 0;
    width: 145px;
}
.catalog button {
    background-color:  #0183a1;
    width: 152px;
    height: 29px;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    text-transform:uppercase;
    margin-left: 30px;
    margin-top: 0px;
}
.catalog button:hover {
    background-color: #0a91b0;
}
.catalog p:first-child {
    font:italic 24px/44px Georgia;
    color: #59473e;
    padding: 0px 14px;
}
.size {
    font-size: 11px;
    color: #999999;
}
#last [class*=span] {
    min-height:15px;
}
.size2 a{
    text-decoration: underline;
}
.size2  a:hover{
    text-decoration: none;
}
.size2 {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
}
.size2 p{
    margin: 0px;
}
.size2:hover{
    background-color: #eaeaea;
    cursor: pointer;
}
.size2 .span1 {
    height: 71px;
    padding-top: 2%;
}
.size2 .span2 {
    height: 71px;
}
.size2 .span3 {
    height: 71px;
}
#myCarousel .item div{
    padding-bottom: 10px;
}
#myCarousel .item a{
    float: left;
    margin-right: 7px;
    width: 140px;
}
#myCarousel .item.active div:hover {
    background:#eaeaea;
    cursor: pointer;
}
#myCarousel .item div p{
    margin: 0px 0px 2px 0px;
}
#myCarousel .item img{
    margin-bottom: 10px;
    width: 140px;
    height: 91px;
}
#myCarousel .item a:last-child{
    margin-right: 0px;
}
#myCarousel .item .name{
    font-size: 12px;
    font-family:Georgia;
    line-height:14px;
    font-style: italic;
    color: #0a91b0;
}
.item .money {
    font-style: italic;
    color: #6f6058;
    font-weight: 600;
}
.item .country{
    color: #999999;
}
#Foto .carousel-inner img{
    margin-left: 0px;
    width: 224px;
    height: 149px;
}
#Foto {
    margin: 0px;
}
#myCarousel2 .slide-item{
    width: 200px;
    overflow: hidden;
    height: 90px;
}
#myCarousel2 .item{
    margin-top: -25px;
}
#myCarousel2 .item p{
    color: #64534b;
}
#myCarousel {
    float: right;
    width: 100%;
}
#last {
    margin:0px;
    margin-top:11px;
    line-height:14px;
}
#last .table11 .date2{
    width: 82px;
    word-wrap: break-word;
}
#last .table11 .img{
    margin-left: 10px;
}
#last .table11 .date1{
    width: 37px;
    margin-left: 2px;
    word-wrap: break-word;
}
#last .table11 .cena {
    font-style: normal;
    font-weight: normal;
}
#last .table11 .obzor {
    margin-left: 0px;
    width: 160px;
    word-wrap: break-word;
}
#last .names{
    width: 105px;
    padding-top: 1%;
}
#last .names p{
    color: #02728c;
    font-style: italic;
    font-size: 12px;
    font-family:Georgia;

}
#last .country{
    width: 83px;
    padding-top: 1%;
}
#last .obzor{
    width: 160px;
    line-height: 14px;
    margin: 0px;
    color: #59473e;
    word-wrap: break-word;
}
#last .date{
   padding-left: 5px;
    width: 37px;
    word-wrap: break-word;
}
#last .date1{
    padding-left: 5px;
    width: 30px;
    word-wrap: break-word;
}
#last .date2{
    padding-left: 5px;
    width: 65px;
    word-wrap: break-word;
}
#last .img {
    width: 102px;
}
#last .moneys{
    width: 93px;
    padding-top: 1%;
    font-style: italic;
    font-weight: 600;
}
title {
    background-color: #052d45;
    border-radius: 0px;
    color: #ffffff;
}
.secondrow .span8{
    width: 614px;
}
#BeforeFooter .span3{
    margin-left: 11px;
    width: 253px;
}
#BeforeFooter .span9{
    width: 705px;
}
#BeforeFooter .center{
    text-align: center;
    margin-top: 35px;
}
#featured{
    position:relative;
    background:#fff;
}
#featured ul.ui-tabs-nav{
    position: absolute;
    top: 0;
    left: 457px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 137px;
    overflow: hidden;
}
#featured ul.ui-tabs-nav li{
    font-size: 12px;
    height: 111px;
    width: 153px;
}
#featured ul.ui-tabs-nav li img{
    float: left;
}
#featured ul.ui-tabs-nav li:last-of-type img{
    height: 113px;
}
#featured ul.ui-tabs-nav li span{
    font-size:11px;
    font-family:Verdana;
    line-height:10px;
}
#featured ul.ui-tabs-nav p {
    position: absolute;
    color: white;
    margin-top: 90px;
    margin-left: 5px;
}
#featured li.ui-tabs-nav-item a{
    display:block;
    color: #333;
    line-height: 10px;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{
    height: 79px;
}
#featured .ui-tabs-panel{
    width: 457px;
    height: 345px;
    position: relative;
}
#featured .ui-tabs-panel .info{
    position:absolute;
    top:225px; left:0;
    height:70px;
}
#featured .info h2{
    font-size:20px;
    font-family:'Georgia', 'sans-serif';
    color:#fff;
    padding:5px;
    margin:0;
    overflow:hidden;
    font-style: italic;
}
#featured .info p{
    margin:0 5px;
    font-family: 'Georgia', 'sans-serif';
    font-size:12px;
    line-height:15px;
    color:#cdd3cb;
}
#featured .info a{
    text-decoration:none;
    color:#fff;
}
#featured .info a:hover{
    text-decoration:underline;
}
#featured .ui-tabs-hide{
    display:none;
}
.chekboxu {
    padding: 20px;
}
.chekboxu ul li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
}
.chekboxu input[type="radio"] {
    margin: -2px 0 0;
}
.chekboxu tr td {
    padding-right: 20px;
}
.nameKategori p {
    height: 23px;
    width: 100%;
    text-align: right;
    margin-top: 7px;
    margin-bottom: 17px;
}
.nameKategori .cena {
    margin-top: 14px;
}
.inputKategori input {
    width: 50px;
    margin: 0px;
    padding: 4px;
    margin-right: 5px;
}
.inputKategori span{
    color: #999999;
    margin-right: 10px;
}
.noactive {
    color: #888888;
}
.dontactive a{
    color: #888888;
}
.noactive:hover{
    color: #888888;
}

.upload .border span{
    color: #999999;
}
.upload .border {
    margin: 0px;
    padding: 25px 0px 25px 0px;
}
.textSms textarea{
    width: 700px;
    height: 200px;
    float: left;
    margin: 10px;
}
.textSms p{
    padding-top: 10px;
    overflow: hidden;
    color: #808080;
    font-size: 12px;
    padding-right: 10px;
}
.title span{
    font-size: 16px;
}
.filterName p{
    height: 23px;
    width: 100%;
    text-align: right;
    margin-top: 7px;
    margin-bottom: 17px;
}
.filterName .radio {
    float: left;
}
.filterSelect input{
     margin: 0px;
 }
.filterSelect input[type="radio"]{
    margin-top: 4px;
}
.filterSelect input[type="text"]{
    width: 186px;
}
.long input{
    width: 45px;
}
.long span{
    margin: 0px 5px 0px 5px;
}
.iconki i{
    font-size: 16px;
    margin-left: 2px;
    opacity: 0.2;
    color: #000000;
    vertical-align: middle;
    }
.iconki i:hover{
    opacity: 0.8;
    cursor: pointer;
}
.sulochka a{
    text-decoration: underline;
    color: #59473e;
    }
.sulochka a:hover{
    text-decoration: none;
}
.buy p{
    margin: 0px;
}
.buy .radio{
    float: left;
    padding-right: 35px;
}
.buy .radio:last-child{
    float: none;
}
.buy .telefon{
    line-height: 5px;
    margin-bottom: 14px;
}
.buy .telefon a{
    color: #59473e;
    font-size: 12px;
    text-decoration: underline;
}
.buy .telefon a:hover{
    text-decoration: none;
}
.buy .code img{
    height: 50px;
    width: 150px;
    float: left;
    margin-right: 10px;
}
.buy .code2{
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    color: #999999;
}
.buy .code2 a{
    color: #59473e;
    text-decoration: underline;
}
.buy .code2 a:hover{
    text-decoration: none;
}
.buy .orange{
    background-color: #de591f;
    border: none;
    color: white;
    width: 210px;
    height: 40px;
    margin-top: 15px;
}
.buy .orange:hover {
    background-color: #e46934;
}
.buy .blue{
    background-color: #0183a1;
    border: none;
    color: white;
    width: 210px;
    height: 40px;
    margin-top: 15px;
}
.buy .blue:hover {
    background-color: #0a91b0;
}
.buy .silver{
    background-color: #cccccc;
    border: none;
    color: white;
    width: 210px;
    height: 30px;
    margin-top: 10px;
}
.buy button:last-child{
    margin-bottom: 40px;
}
.star {
    position: relative;
    margin-top: -12px;
}
.buy .pravila {
    font-size: 12px;
    margin-top: 15px;
    color: #999999;
}
.buy .pravila a{
    text-decoration: underline;
}
.buy .pravila a:hover{
    text-decoration: none;
}
.filterSelect p {
    margin: 0px;
}
.filterSelect .radiobox {
    padding-bottom: 10px;
    padding-top: 5px;
}
.filterSelect input {
    margin: 0px 0px 10px 0px;
}
.filterSelect select{
    margin: 0px 0px 12px 0px;
    width: 200px;
    height: 28px;
}
.uploadFoto .cheku input{
    float: left;
    margin-right: 8px;
}
.uploadFoto .cheku p{
    font-size: 12px;
    color: #999999;
}
.uploadFoto{
    padding: 20px 0px 0px 15px;
}
.uploadFoto p {
    color: #808080;
}
.uploadFoto img {
    margin-right: 5px;
}
.uploadFoto .span2{
    width: 190px;
    margin-left: 0px;
    padding: 5px;
}
.uploadFoto .span2:hover{
    background-color: #eaeaea;
}
#filters i{
    font-size: 23px;
    margin-left: 10px;
    margin-right: 5px;
    opacity: 0.5;
    position: relative;
    margin-top: -3px;
    float: left;
}
#filters .opa:hover {
    opacity: 0.8;
    cursor: pointer;
}
#filters ul {
    margin: 0px;
}
#filters ul li{
    list-style-type: none;
    margin-top: 5px;
}
#filters .select200px{
    margin: 0px 0px 20px 10px;
    width: 200px;
}
#filters p {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
#filters input{
    width: 33px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    height: 22px;
}
#filters .select76px{
    width: 55px;
    margin: 0px 0px 20px 3px;
    float: left;
    padding-left: 3px;
}
#filters .buttons {
    border-radius: 0px;
    float: right;
    margin: 0px 10px 10px 0px;
    width: 100px;
    color: #ffffff;
}
#filters .buttons:hover {
    text-decoration: none;
    color: white;
}
#filters .buttons.small {
    width: 50px;
}
#filters .fyts {
    width: 60px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 6px;
    padding-left: 3px;
}
#filters a{
    color: #999999;
    text-decoration: none;
    margin-left: 30px;
}
#filters a:hover{
    color: #999999;
    text-decoration: underline;
}
#filters ul li{
    padding-bottom: 5px;
    margin-left: 7px;
}
#filters ul li:first-child{
    margin-left: 0px;
}
#filters p {
    color: #999999;
}
#filters .silverBackgraund p{
    padding-top: 5px;
    display: inline-block;
    padding-left: 55px;
    color: #59473e;
    text-align: center;
}
#bulletinBoard .names{
    width: 106px;
}
#bulletinBoard .names p{
    color: #02728c;
    font-style: italic;
    font-size: 13px;
}
#bulletinBoard .country{
    width: 84px;
}
#bulletinBoard .obzor{
    width: 165px;
    line-height: 16px;
}
#bulletinBoard .date1{
     width: 30px;
 }
#bulletinBoard .span2{
    width: 103px;
}
#bulletinBoard .date{
    width: 66px;
}
#bulletinBoard .img {
    width: 105px;
}
#bulletinBoard .moneys{
    width: 80px;
}
#cabinet .delet{
    width: 50px;
}
#cabinet .delet img{
    margin-left: 10px;
}
#cabinet .imgMarka p{
    color: #02728c;
    font-style: italic;
    font-size: 12px;
    font-family: 'Georgia', sans-serif;
}
#cabinet .country{
    width: 81px;
}
#cabinet .obzor{
    width: 163px;
    line-height: 16px;
    word-wrap: break-word;
}
#cabinet .obzor1{
    width: 200px;
    line-height: 14px;
    padding-top: 2px;
    word-wrap: break-word;
}
#cabinet .date{
    width: 74px;
}
#cabinet .date1{
    width: 30px;
}
#cabinet .imgMarka {
    width: 105px;
}
#cabinet .size2 .moneys{
    font-weight: 600;
    font-style: italic;
}
#cabinet .moneys{
    width: 85px;
}
#cabinet .statusPereyti {
    width: 35px;
}
#cabinet .prodavec {
    width: 130px;
    line-height: 14px;
    word-wrap: break-word;
    padding-top: 2px;
    position: relative;
}
#cabinet .row-fluid [class*="span"] {
     margin-left: 1.12766%;
 }
.blueButton{
    background-color: #0183a1;
    border: none;
    color: white;
    width: 210px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}
.blueButton:hover {
    background-color: #0a91b0;
}
#dropmenu3.dropmenu-index input.blueButton {
    background-color: #0a91b0;
    color: #ffffff;
    margin-bottom: 20px;
}
#search input.blueButton.search14 {
    width: 100px;
    height: 31px;
    margin: -10px 0px 0px 20px;
}
.blueButton.srtanica11 {
    width: 117px;
    height: 33px;
    float: right;
    margin-top: 0px;
}
.blueButton.stranica11.smallbut {
    margin: 0px;
    width: 79px;
    height: 33px;
    margin-top: -4px;
}
.blueButton.stranica11.addNews{
    width: 200px;
    text-align: center;
    padding-top: 10px;
    height: 30px;
}
.orangeButton{
    background-color: #de591f;
    border: none;
    color: white;
    width: 210px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}
.sulki a{
    font-style: italic;
    font-size: 14px;
    margin-right: 20px;
    text-decoration: underline;
    font-family: 'Georgia', 'sans-serif';
}
.sulki a:hover{
    color: #59473e;
    text-decoration: none;
}
.sulki .active{
    color: #000000;
    text-decoration: none;
}
#favorites {
    margin: 0px;
    padding: 30px 0px 20px 20px;
}
#favorites ul li{
    list-style: url("../img/bigZvezda.png");;
    line-height: 18px;
}
#favorites p{
    color: #999999;
}
#favorites a{
    text-decoration: underline;
}
#favorites a:hover{
    text-decoration: none;
}
.menushka ul li{
    list-style-type: none;
    height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}
.menushka ul li:hover{
    background-color: #eaeaea;
}
.menushka ul {
    margin: 0px;
}
.menushka a{
    text-decoration: underline;
    font-style: italic;
    line-height: 36px;
    font-size: 14px;
    font-family: 'Georgia', 'sans-serif';
    color: #59473e;
}
.menushka a:hover{
    text-decoration: none;
    color: #59473e;
}
.new img{
    position: relative;
    margin-top: -7px;
    opacity: 0.7;
    margin-left: 10px;
}
.new img:hover{
    opacity: 1;
}
.new{
    font-size: 17px;
    margin-top: 20px;
}
.visible {
    font-size: 12px;
    color: #999999;
    margin-right: 10px;
}
.visible a{
    font-size: 12px;
    color: #999999;
    text-decoration: underline;
}
.visible a:hover{
    text-decoration: none;
    color: #59473e;
}
.visible .active{
    text-decoration: none;
    color: #59473e;
}
.stars{
    background-image: url("../img/bigZvezda.png");
    height: 17px;
    width: 17px;
    margin-left: 10px;
}
.stars.polnaStars{
    background-image: url("../img/bigZvezdaProzrachna.png");
}
#plitka .niz10str {
    padding-top: 15px;
}
#plitka .niz10str .span3 {
    width: 182px;
    padding: 4px 0px 0px 4px;
    margin: 10px 4px 0px 0px;
}
#plitka .niz10str .span3 p{
     width: 170px;
}
#plitka .niz10str .span3:last-child {
    width: 182px;
}
#plitka .niz10str .span3:hover {

}
#plitka ul{
    display: table;
    margin-left: 0px;
}
#plitka ul li{
    margin: 10px 0px 0px 0px;
    padding: 6px 12px 6px 12px;
    width: 156px;
    list-style-type: none;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
}
#plitka li:hover{
    background-color: #eaeaea;
    cursor: pointer;
}
#plitka  .date {
    font-size: 12px;
    color: #999999;
    margin-bottom: 0px;
}
#plitka  .date span{
    text-decoration: underline;
}
#plitka .names {
    margin: 0px;
    font-style: italic;
    color: #0a91b0;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Georgia', 'sans-serif';
}
#plitka .obzor {
    font-size: 12px;
    line-height: 14px;
}
#plitka img {
    margin-bottom: 5px;
    width: 156px;
    height: 115px;
}
#testingBoard img{
    margin: 0px 0px 10px 0px;
}
#testingBoard .author{
    margin-top: 40px;
    overflow: hidden;
    font-size: 16px;
}
#testingBoard .author span{
    margin-top: 40px;
    overflow: hidden;
    font-size: 12px;
    color: #999999;
}
#testingBoard  .name {
    font-style: italic;
    line-height: 28px;
    color: #0a91b0;
    font-size: 28px;
    overflow: hidden;
    font-family: 'Georgia', 'sans-serif';
}
#testingBoard  .name.podzagolovok {
    font-size: 18px;
    color: #59473e;
    margin-bottom: 30px;
    font-family: 'Georgia', 'sans-serif';
    width: 410px;
    line-height: 20px;
}
#testingBoard blockquote{
    margin: 30px 0px 20px 0px;
    padding: 15px 120px 15px 120px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    text-align: center;
    font-style: italic;
    color: #999999;
    font-size: 21px;
    line-height: 23px;
    font-family: 'Georgia', 'sans-serif';
}
#testingBoard  blockquote {
    border-left: none;
}
#testingBoard p{
    font-size: 12px;
    color: #59473e;
    line-height: 18px;
}
#testingBoard  .name.coment {
    margin: 20px 0px 20px 0px;
    font-size: 24px;
    line-height: 26px;
}
#testingBoard  .name.coment a{
    color: #999999;
}
#testingBoard .textcomet {
    margin-bottom: 20px;
    margin-left: 0px;
}
#testingBoard .textcomet p:first-child{
    font-weight: 600;
}
#testingBoard .textcomet p{
    margin: 0px;
    line-height: 18px;
    color: #59473e;
}
#testingBoard .textcomet span{
    color: #999999;
    font-weight: normal;
}
#testingBoard .textcomet a{
    font-size: 12px;
    text-decoration: underline;
}
#testingBoard .textcomet a:hover{
    text-decoration: none;
}
#testingBoard .avtori{
    background-color: #eaeaea;
    color: #808080;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
}
.gallery { list-style: none; margin-left: 0px;}
.gallery img{
    max-height: 495px;
    width: 100%;
}
#testingBoard .avtori p{
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    color: #59473e;
    font-family: 'Georgia', 'sans-serif';
}
#testingBoard .avtori img{
    margin: 0px 20px 0px 0px;
}
.myCabinet input{
    height: 25px;
    width: 150px;
}
.myCabinet {
    margin-top: 40px;
}
.myCabinet .form-horizontal .control-label {
    width: 62px;
}
.myCabinet .form-horizontal .control-group {
    margin-bottom: 12px;
}
.myCabinet .form-horizontal .controls {
    margin-left: 90px;
}
.myCabinet a{
    text-decoration: underline;
}
.myCabinet a:hover {
    text-decoration: none;
}
.blueButton.myCabinet1 {
    width: 150px;
    margin-left: 90px;
}
#xz tr td:first-child {
    float: right;
    color: #999999;
}
#xz .span6 {
  margin: 30px 0px 30px 0px;
}
#xz table{
    margin: auto;
}

.uploadFoto .i{
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    margin-left: 151px;
    margin-top: 5px;
}

.delete-button {
    opacity: 0.5;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin-left: 151px;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: Transparent;
    background-image: url("../img/na4krestik.png");
    background-repeat: no-repeat;
}

.uploadFoto .i:hover,
.delete-button:hover
{
    opacity: 1;
}
.xrest{
    background-image: url("../img/xrest.png");
    height: 14px;
    width: 14px;
    margin-left: 15px;
}
.xrest.krasnuy{
    background-image: url("../img/xrestKrasnuy.png");
}
.pen{
    background-image: url("../img/ry4ka.png");
    height: 16px;
    width: 16px;
    margin-left: 25px;
}
.pen.blue{
    background-image: url("../img/ry4kaSunya.png");
}
.span6.ftwvkg {
    margin-left: 40%;!important
}
.ftwvkg div {
    margin-right: 10px;
}
.ftwvkg a{
    text-decoration: underline;
    color: #de591f;
}
.ftwvkg a:hover{
    text-decoration: none;
}
#afisha .title{
    color: #999999;
    font-size: 13px;
}
#afisha .name {
    font-style: italic;
    font-size: 30px;
    color: #0a91b0 ;
    font-family: 'Georgia', 'sans-serif';
}
#afisha table{
    border-collapse: inherit;
    border-spacing: 7px 5px;
}
#afisha tr td:first-child {
        float: right;
    color: #999999;
}
#afisha .rightOtFoto {
    margin: 0px 0px 0px 0px;
    background-color: #eaeaea;
    padding-left: 20px;
    font-size: 13px;
    padding-top: 10px;
}
#afisha .rightSpan6 a{
    margin: 0px 0px 5px 0px;
    color: #999999;
}
#afisha .rightOtFoto p{
    margin: 0px 0px 5px 0px;
    color: #999999;
}
#afisha .add{
    float: left;
    margin: 0px 10px 0px 0px;
}
#afisha .rightOtFoto i{
    margin: 0px 10px 0px 0px;
    opacity: 0.5;
}
#afisha .rightOtFoto span{
    color: #4d4d4d;
}
#afisha .rightOtFoto a{
    border-radius: 0px;
    height: 22px;
    width: 150px;
    padding-top: 5px;
}
#afisha .cena{
    font-size: 20px;
    font-style: italic;
    font-family: 'Georgia', 'sans-serif';
}
#afisha .rightOtFoto .phone {
    color: #4d4d4d;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'sans-serif';
}
.opisanie p{
    line-height: 16px;
    padding: 10px 80px 0px 60px;
    color: #59473e;
    margin: 0px;
}
.opisanie p:last-child{
   padding-bottom: 20px;
}
.buyAndsould {
    margin: 0px;
    padding: 15px 0px 15px 0px;
}
.buyAndsould .span4{
    text-align: right;
    color: gray;
}
.buyAndsould .span8 a{
    border-radius: 0px;
}
#plitka .span3.stranica13 {
    width: 193px;
    margin: 0px;
}
#stranic13 .item div{
    float: left;
    margin-right: 22px;
    width: 143px;
}
#stranic13 .item div:last-child{
    margin: 0px;
}
.title p{
    display: inline-block;
}
.title a{
    float: right;
    border-radius: 0px;
}
.tooltip-inner {
    border-radius:0;
}
#search .title {
    font-size: 20px;
}
#search .span12{
    margin: 10px 0px 10px 0px;
}
#search .span7{
    margin: 0px;
}
#search input {
    width: 300px;
    height: 17px;
    padding: 5px;
}
#search .button{
    width: 75px;
    height: 22px;
    padding-top: 5px;
    border-radius: 0px;
}
#search .result {
    margin: 20px 0px 20px 0px;
}
#search .result p{
    color: #888888;
    font-size: 12px;
}
#search .result span{
    color: #59473e;
    font-size: 16px;
}
#search ul li{
    list-style-type: decimal;
    color: #0183a1;
    margin-bottom: 20px;
}
#search .sulki a {
    color: #02728c;
    font-style: italic;
    font-size: 14px;
    font-family: 'Georgia', sans-serif;
}
#search .sulki a:hover {
    color: #0183a1;
}
#search .sulki span{
    color: #de591f;
}
#search p {
    color: #59473e;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
}
#stranica .span8 {
    width: 656px;
}
#stranica .item div{
    margin: 0px;
    width: auto;
}
#stranica img{
    margin: 0px;
}
#stranica .offset2{
    margin-left: 165px;
}
.details select{
    width: 133px;
    margin: 10px 0px 0px 5px;;
}
.details button{
    width: 133px;
    margin-left: 5px;
    font-size: 17px;
}
.details .vse{
    margin: 10px 0px 10px 7px;
    font-style: italic;
    font-size: 20px;
    padding: 0px;
    color: #59473e;
    font-family: 'Georgia', 'sans-serif';
}
.search18 button{
    width: 130px;
    margin: 0px 5px 10px 0px;
    font-size: 15px;
}
.search18 select{
    width: 124px;
    margin: 10px 0px 10px 0px;;
}
.search18 .meters {
    width: 113px;
    float: right;
    margin-right: 6px;
}
.search18 input{
    width: 31px;
    float: left;
    margin: 0px 5px 0px 3px;
}
.search18 input.blueButton{
    width: 92%;
    margin: 20px 0px;
}
.search18 p{
    font-size: 13px;
    margin: 0px;
}
.search18 .search{
    padding-left: 35px;
    font-size: 15px;
}
.search18 .podbor{
    font-style: italic;
    margin: 10px 0px 0px 0px;
    font-family: 'Georgia', 'sans-serif';
    font-size: 15px;
}
.search18 .radio18 input{
    width: 20px;
    margin: 0px;
    float: none;
}
.search18 .radio18 {
    color: #999999;
}
.bigPicture img{
    width: 100%;
    height: 230px;
}
.toto ul li{
    float: left;
    list-style-type: none;
    margin-left: 0px;
    min-height: 140px;
    margin-right: 10px;
}
.toto ul li:first-child{
    margin-left: 0px;
}
.toto ul{
    margin: 0px;
}
.toto ul li p{
    font-style: italic;
    color: #358ea3;
    text-align: center;
}
.firstbut{
    padding: 5px 3px 0px 0px;
    border-radius: 0px;
    width: 139px;
}
.firstbut p {
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    padding-left: 42px;
}
.firstbut img{
    float: left;
    padding: 0px;
    margin: 5px 0px 0px 0px;
}
.firstbut button {
    border: none;
    width: 144px;
    margin-top: 10px;
    color: white;
    padding-bottom: 5px;
    font-size: 13px;
    padding-left: 5px;
}
.firstbut.secondbut {
   background-color: #de591f;
    border: none;
    width: 144px;
    margin-top: 10px;
    color: white;
    padding-bottom: 5px;
    font-size: 13px;
    padding-left: 5px;
}
.firstbut.secondbut img{
    margin-top: 9px;
}
#myCarousel9 .item div{
    margin-right: 16px;
    margin-top: 5px;
    left: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 148px;
}
#myCarousel9 .item div:last-child{
    margin-right: 0px;
}
#myCarousel8 .item div{
    margin-right: 26px;
    margin-top: 5px;
}
#myCarousel8 .item div:hover{
    background-color: #eaeaea;
}
#myCarousel8 .item div:last-child{
    margin-right: 0px;
}
.stranica7 ul li{
    list-style-type: decimal;
    color: #59473e;
    font-weight: 600;
}
.stranica7 ul li p{
    font-size: 12px;
    line-height: 16px;
    color: #4d4d4d;
    font-weight: normal;
}
.stranica7 a{
text-decoration: underline;
    }
.stranica7 a:hover{
    text-decoration: none;
}
.stranica7 .okluk{
    background-color: #fed5b9;
    width: 75px;
    height: 75px;
    float: left;
}
.stranica7 .okluk img{
    padding-left: 33px;
    padding-top: 24px;
}
.stranica7 .seruy {
    background-color: #eaeaea;
    height: 51px;
    padding-left: 52px;
    overflow: hidden;
    padding-top: 24px;
    font-size: 14px;
}
.stranica7 {
    position: relative;
}
.stranica7 .regestry{
  color: #de591f;
    font-size: 24px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Georgia', 'sans-serif';
}
.brendu table {
    border-collapse: separate;
    border-spacing: 7px 5px;
    margin-left: -7px;
}
.brend.stope td{
    width: 108px;
    height: 100px;
}
.brend td{
    width: 79px;
    margin-right: 10px;
    height: 79px;
    background-color: #f4f4f4;
}
.brend td:hover{
    cursor: pointer;
    background-color: #eaeaea;
}
.noindex:-o-prefocus, .brend img{
    width:100%!important;
}
.brendinfo {
    text-align: center;
    font-size: 12px;
}
.stranica18 .bigPicture {
    width: 340px;
    position: relative;
}
.stranica18 {
    margin-left: 0px;
    margin-bottom: 20px;
}
.span12.stranica18{
    margin-left: 0px;
}
.stranica18 .bigPicture .podlozhka {
    position: absolute;
    background:  rgba(0,0,0,0.5);
    bottom: 0;
    top: 125px;
    width: 100%;
}
.stranica18 .bigPicture p{
    position: relative;
    color: #ffffff;
    font-size: 28px;
    margin-top: 15px;
    width: 320px;
    margin-left: 10px;
    line-height: 12px;
    font-style: italic;
    font-family: 'Georgia';
    margin-bottom: 0px;
}
.stranica18 .bigPicture p:last-child{
    font-size: 12px;
    font-style: normal;
    color: #c9dade;
    line-height: 14px;
    font-family: 'Arial', 'sans-serif';
}
.stranica18 .brendu{
    margin-left: 5px;
    width: 360px;
}
.stranica19 .brendu{
    margin-left: 5px;
}
.stranica18 .brendu .zaglavie {
    font-style: italic;
    font-size: 16px;
    color: #0183a1;
    font-family: 'Georgia', 'sans-serif';
}
.stranica18 .brendu .zaglavie span{
    font-size: 13px;
    text-decoration: underline;
    float: right;
    margin-right: 14px;
}
.stranica18 .brendu .zaglavie a{
    color: #de591f;
    text-decoration: underline;
    font-style: normal;
}
.stranica18 .brendu .zaglavie a:hover{
    text-decoration: none;
}
#stranica19 .span2 {
    width: 172px;
    margin-left: 0px;
    margin-bottom: 10px;
}
#stranica19 .span2 img {
    width: 100%;
    height: 136px;
}
#stranica19 .span10 {
    width: 785px;
}
#stranica19 .bigShip p {
    position: absolute;
    margin-top: -100px;
    color: white;
    font-size: 34px;
    font-style: italic;
    width: 406px;
    font-family: 'Georgia', 'sans-serif';
    margin-left: 50px;
    line-height: 13px;
}
#stranica19 .bigShip p:last-of-type{
    margin-top: -67px;
    color: #c9dade;
    font-size: 12px;
    font-style: normal;
    width: 300px;
    font-family: 'Arial', 'sans-serif';
}
#stranica19 .border{
    padding-left: 12px;
}
#stranica19 .onPicture p{
    position: absolute;
    color: #ffffff;
    font-style: italic;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 7px;
}
#stranica19 .divbrend{
    float: left;
    height: 100px;
    width: 108px;
    background-color: #f4f4f4;
    margin-right: 2px;
    margin-bottom: 2px;
}
#stranica19 .divbrend:hover {
    background-color: #eaeaea;
    cursor: pointer;
}
#stranica19 .divbrend img{
    margin-top: 20%;
    margin-left: 6%;
}
#stranica19 .search18 input{
    width: 45px;
}
#stranica19 .search18 .meters {
    width: 136px;
}
#stranica19 .search18 select:first-of-type{
    width: 151px;
}
#stranica19 .search18 .blueButton {
    width: 148px;
}
#stranica19 .item div:hover{
    background-color: #eaeaea;
    cursor: pointer;
}
#stranica19 .zagolovok{
    color: #56a1b2;
    font-style: italic;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    font-family: 'Georgia', 'sans-serif';
}
#myCarousel5 .item.active div:hover {
    background-color: #ffffff;!important
}
#myCarousel6 .item.active div:hover {
    background-color: #ffffff;!important
}
.mini img{
    height: 85px;
    margin-top: 5px;
}
.carousel-control.width970px {
    margin-top: -15px;
    left: 0px;
}
.carousel-control.right1 {
    right: 2px;
    left: auto;
}
.carousel-control.leftKryg {
    top: 44%;
    left: 20px;
}
.carousel-control.rightKryg {
    top: 45%;
    right: 30px;
}
.comentim {
    width: 100%;
}
.comentim textarea{
    width: 100%;
    height: 150px;
}
.comentim input{
    width: 131px;
}
#dropmenu3.stranica13 .form-horizontal .control-label {
    width: 104px;
    margin-right: 13px;
    text-align: right;
    color: #888888;
}
#dropmenu3.stranica13 .form-horizontal .controls {
    margin-left: 135px;
}
#dropmenu3.stranica13 .form-horizontal .controls textarea{
    width: 320px;
    height: 98px;
}
#dropmenu3.stranica13 .form-horizontal .controls input{
    width: 160px;
    height: 28px;
}
#dropmenu3.stranica13 .form-horizontal .controls .inputwidth{
    width: 150px;
}
#dropmenu3.dropmenu-index.stranica13 {
    top: 357px;
    right: 0;
    z-index: 9999;
    margin-right: 172px;
    border: 1px solid #c5c5c5;
}
#dropmenu3.dropmenu-index.stranica13 .firstP{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 12px;
    color: #59473e;
    margin: 5px 0px 10px 13px;
}
#dropmenu3.dropmenu-index.stranica13 i:hover{
    cursor: pointer;
}
#dropmenu3.stranica13 .chekboxOne input{
    float: left;
    width: 25px !important;
    margin-top: 4px;
    margin-right: 10px;
}
#dropmenu3.stranica13 .chekboxOne p{
    color: #888888;
    text-decoration: underline;
}
#dropmenu3.stranica13 .chekboxOne{
    margin-left: 135px;
}
#dropmenu3.stranica13 button{
    margin-left: 135px;
    width: 130px;
}
#dropmenu3.stranica13 .codeki{
    position: relative;
    float: right;
    margin-top: -85px;
    margin-right: 11px;
}

#dropmenu .form-horizontal .control-group {
    margin-bottom: 5px;
}
#dropmenu3 .form-horizontal .control-group {
    margin-bottom: 5px;
}
#dropmenu .form-horizontal .control-label {
    width: 56px;
    padding-left: 15px;
    text-align: left;
    font-size: 12px;
}
#dropmenu .height {
    line-height: 12px;
}
#dropmenu .form-horizontal .controls {
    margin-left: 71px;
}
#dropmenu input {
    width: 150px;
    height: 22px;
}
#dropmenu .email {
    width: 90%;
}
#dropmenu .rege input {
    width: 141px;
}
#dropmenu .span6 .control-group a{
    margin-left: 72px;
}
#dropmenu .chek, input[type="checkbox"]{
    width: 72px !important;
    float: left !important;
}
#dropmenu a{
    text-decoration: underline;
}
#dropmenu .xrestik {
    position: relative;
    margin-top: -10px;
    margin-right: 10px;
    opacity: 0.6;
}
#dropmenu .xrestik:hover{
    opacity: 1;
    cursor: pointer;
}
#dropmenu .voiticherez {
    background-color: #dbdbdb;
    width: 180px;
    height: auto;
    padding: 10px 0px 20px 10px;
    margin-bottom: 30px;
}
#dropmenu .voiticherez img{
    margin-right: 5px;
}
#dropmenu form {
    margin-bottom: 0px;
}
#dropmenu .blueButton.voiti{
    width: 120px;
    margin-left: 72px;
    height: 30px;
}
#dropmenu .blueButton.zaregen{
    margin-left: 72px;
    height: 30px;
    width: 178px;
}
#dropmenu .paragraf{
    overflow: hidden;
    line-height: 14px;
    color: #999999;
    font-size: 13px;
}
#dropmenu .paragraf span{
    color: #59473e;
}
#dropmenu .labelNepravelbnuy {
    width: 35px;
    font-size: 12px;
    float: left;
    padding-left: 11px;
}
#dropmenu .vupada {
    min-height: 95px;
    display: none;
 }
#dropmenu .regestraci {
    min-height: 225px;

}
#dropmenu .danger{
    font-size: 12px;
    color: red;
    padding-left: 11px;
    line-height: 14px;
    margin-top: 10px;
}
#dropmenu {
    z-index: 9999;
    padding-left: 5px;
    height: auto;
    min-height: 455px;
    width: 480px;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    right: -490px;
    box-shadow:5px 5px 5px #ccc;
    display:none;
    font-family: 'Arial', 'sans-serif';
}
#dropmenu3 {
    padding-left: 5px;
    height: auto;
    min-height: 455px;
    width: 480px;
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    right: -490px;
    box-shadow:5px 5px 5px #ccc;
    display:none;
    font-family: 'Arial', 'sans-serif';
}
#dropmenu3.dropmenu-index {
    top: 40px;
    right: 0;
    z-index:9999;
}
#dropmenu3.dropmenu-index:before {
    border-color:transparent;
}
#dropmenu3.dropmenu-index input{
     background-color: #ffffff;
    color: #000000;
 }
#dropmenu3.dropmenu-index a{
    color: #2091ab;
}
#dropmenu:before {
 position:absolute;
 left:-10px;
 top:30px;  
 content:' ';   
 width: 0px;
height: 0px;
border-style: solid;
border-width: 8.5px 10.3px 8.5px 0;
border-color: transparent #eaeaea transparent transparent;
line-height: 0px;
_border-color: #000000 #eaeaea #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
 }

#textInfo p:first-child{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    margin-bottom: 10px;
    color: #59473e;
}
#textInfo p{
    font-size:12px;
    margin-bottom: 0px;
    color: #999999;
}
#textInfo span{
    color: #59473e;
}
.zagolovki p:first-child{
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
    color: #02728c;
}
.podzagolovki p {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    color: #59473e;
    font-size: 16px;
}
.podzagolovki ul li p {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    color: #02728c;
    font-size: 12px;
}
.errore p:first-child{
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    color: #02728c;
    font-size: 45px;
    margin-bottom: 40px;
}
.errore {
    margin-left: 0px;
    margin-top: 110px;
}
.errore p{
    font-size: 16px;
    line-height: 10px;
}
.errore p:last-child{
    padding-top: 20px;
}
.errore a {
    text-decoration: underline;
    padding-top: 50px;
}
.errore a:hover{
    text-decoration: none;
}
.title p:last-child{
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #59473e;
    margin-top: 30px;
    line-height: 22px;
}
.title.stranica3 p{
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 600;
}
.spisok .first{
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 27px;
    color: #de591f;
    margin-bottom: 25px;
}
.spisok ul li {
    list-style-type: decimal;
}
.spisok p{
    color: #4d4d4d;
    line-height: 16px;
    margin-top: 7px;
}
.tema {
    font-family: 'Open Sans', 'sans-serif';
    color: #999999;
    font-size: 12px;
    margin-top: 15px;
}
.tema span {
    font-size: 18px;
    color: #59473e;
    font-weight:600;
    font-family: 'Open Sans', 'sans-serif';
}
#myCarousel11 p{
    text-align: left;
    margin-left: 10px;
    width: 170px;
}
#myCarousel11 .width970px{
    margin-top: -26px;
    left: 14px;
}
#myCarousel11 .names {
    margin-left: 10px;
}
#myCarousel11 .span3 {
    padding: 5px 0px 5px 2px;
}
#myCarousel11 .right1 {
    right: 11px;
    left: auto;
}
#myCarousel11 .carousel-inner{
    margin-top: 5px;
}
.add21{
    padding-left: 65px;
    margin-top: 38px;
    padding-top: 10px;
}
.abzac24 p:first-child{
    font-family: 'Georgia', 'sans-serif';
    font-size: 16px;
    font-style: italic;
    color: #02728c;
    margin-bottom: 15px;
}
.abzac24 p{
    color: #59473e;
    font-size: 14px;
    margin: 0px;
}
.myCabinet.form-horizontal .control-group {
    margin-bottom: 12px;
}
.tokosearch .add-on {
    border-color: #44a5bd;
}
.tokosearch .add-on button{
    background-image: none;
    background: none;
    border: none;
}
.tokosearch input{
    background-color: #0183a1;
}
textarea:-moz-placeholder { color: #999999; }
textarea::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-webkit-input-placeholder { color: #999999; }
.buttonAvtor {
    margin: 0px;
    height: 35px;
    width: 185px;
    position: relative;
}
.sulka {
    margin-left: 25px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: underline;
}
.sulka:hover {
    text-decoration: none;
}
.tokosearch ::-webkit-input-placeholder {
    color:#59b7c4 ;
}

.tokosearch :-moz-placeholder { /* Firefox 18- */
    color: #59b7c4;
}

.tokosearch ::-moz-placeholder {  /* Firefox 19+ */
    color: #59b7c4;
}

.tokosearch :-ms-input-placeholder {
    color: #59b7c4;
}



/* gallery */
.gallery p {
    font-size:14px;
    font-family:Georgia;
    font-style:italic;
    color:#0183a1;
}

.rg-image-wrapper{
	position:relative;
	padding:0;
	/*background:transparent url(../images/black.png) repeat top left;*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
	background:#eaeaea;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:40%;
	left:10px;
	background:rgba(255,255,255,0.6);
	width:25px;
	height:25px;
    padding:13px;
    font-size:43px;
    color:#052d45;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    z-index:100;
    text-align:center;
}
.rg-image-nav a i {
    line-height:27px!important;
    margin-right:9px;
}
.rg-image-nav a:hover {
    background:rgba(255,255,255,0.9);
    text-decoration:none;
}
.rg-image-nav a.rg-image-nav-next{
	right:10px;
	left:auto;
	-moz-border-radius: 50px;
	-webkit-border-radius:50px;
	border-radius: 50px;
}
.rg-image-nav a.rg-image-nav-next i {
    margin-left:9px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption-wrapper {
    display:none;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
    display:none;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
    
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

.firstInput{
    vertical-align: super;
    width: 110px;
    height: 18px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 20px;

}
.firstInput input, select{
    width: 100%;
    margin-top:0;
}
.border.searchBoard select{
    width: 257px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-left: 4px;
    margin-top: 10px;
}

#dropmenu10 .form-horizontal .control-label {
    width: 56px;
    padding-left: 15px;
    text-align: left;
    font-size: 12px;
}
#dropmenu10 .height {
    line-height: 12px;
}
#dropmenu10 .form-horizontal .controls {
    margin-left: 71px;
}
#dropmenu10 input {
    width: 150px;
    height: 22px;
    color: #333333;
background-color: none;
}
#dropmenu10 .email {
    width: 90%;
}
#dropmenu10 .rege input {
    width: 141px;
}
#dropmenu10 .span6 .control-group a{
    margin-left: 72px;
}
#dropmenu10 .chek, input[type="checkbox"]{
    width: 72px !important;
    float: left !important;
}
#dropmenu10 a{
    text-decoration: underline;
    color: #02728c;
}
#dropmenu10 .xrestik {
    position: relative;
    margin-top: -10px;
    margin-right: 10px;
    opacity: 0.6;
}
#dropmenu10 .xrestik:hover{
    opacity: 1;
    cursor: pointer;
}
#dropmenu10 .voiticherez {
    background-color: #dbdbdb;
    width: 180px;
    height: auto;
    padding: 10px 0px 20px 10px;
    margin-bottom: 30px;
}
#dropmenu10 .voiticherez img{
    margin-right: 5px;
}
#dropmenu10 form {
    margin-bottom: 0px;
}
#dropmenu10 input.blueButton.voiti{
    width: 120px;
    margin-left: 72px;
    height: 30px;
    margin-bottom: 30px;
    color: #ffffff;
}
#dropmenu10 input.blueButton.zaregen{
    margin-left: 72px;
    height: 30px;
    width: 178px;
    color: #ffffff;
}
#dropmenu10 .paragraf{
    overflow: hidden;
    line-height: 14px;
    color: #999999;
    font-size: 13px;
}
#dropmenu10 .paragraf span{
    color: #59473e;
}
#dropmenu10 .labelNepravelbnuy {
    width: 35px;
    font-size: 12px;
    float: left;
    padding-left: 11px;
}
#dropmenu10 .vupada {
    min-height: 95px;
    display: none;
    min-height: 115px;
}
#dropmenu10 .regestraci {
    min-height: 270px;

}
#dropmenu10 .danger{
    font-size: 12px;
    color: red;
    padding-left: 11px;
    line-height: 14px;
    margin-top: 10px;
}
#dropmenu10 {
    padding-left: 5px;
    height: auto;
    min-height: 455px;
    width: 480px;
    background-color: #eaeaea;
    position: absolute;
    top: 43px;
    right: -100px;
    box-shadow: 5px 5px 5px #ccc;
    display: none;
    font-family: 'Arial', 'sans-serif';
    z-index: 99999;
}
#dropmenu10 .form-horizontal .control-group {
    margin-bottom: 5px;
}
.stranica666:before {
    border-color: transparent #EAEAEA transparent transparent;
    border-style: solid;
    border-width: 0;
    content: " ";
    height: 0;
    left: 0px!important;
    line-height: 0;
    position: absolute;
    top: 30px;
    width: 0;
}
.dropmenu-index.stranica666{
    left: -300px;
    top: 69px!important;
    min-width: 500px;
    -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 1)!important;
    -moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 1)!important;
    box-shadow:         0px 0px 6px rgba(50, 50, 50, 1)!important;
}
.dropmenu-index.stranica666 .firstP{
    font-size: 17px;
    margin: 10px;
}
.dropmenu-index.stranica666 .form-horizontal{
    margin-top: 20px;
}
.dropmenu-index.stranica666 .form-horizontal .control-label {
    width: 125px;
}
.dropmenu-index.stranica666 .form-horizontal .controls {
    margin-left: 140px;
}
.dropmenu-index.stranica666 textarea{
    height: 85px;
    width: 315px;
}
.dropmenu-index.stranica666 .controls img.captcha {
    position: relative;
    left: 191px;
    top: -10px;
    width: 142px;
}
.dropmenu-index.stranica666 #id_captcha_1 {
    position: relative;
    top: -11px;
    left: -146px;
    width: 150px;
}
.dropmenu-index.stranica666 .chekboxOne {
    margin-left: 130px;
}
.dropmenu-index.stranica666 input[type="checkbox"] {
    width: 40px !important;
    float: left !important;
}
.dropmenu-index.stranica666 button{
    margin-left: 140px;
    margin-top: 30px;
}





.forma .selectOne{
    margin-top: 0px;
    margin-right: 20px;
}
.forma .form-horizontal .controls {
    margin-left: 205px;
}
.forma .form-horizontal .control-label {
    width: 190px;
}
.forma .controls input.btn {
    background-image: none;
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif';
    border-radius: 0px;
    text-shadow: none;
}
.forma .controls input.btn:hover {
    color: #ffffff;
}
.orangeButton:hover{
    background-color: #e46934;
}
.forma select{
    margin-top: 0px;
}
.forma  div.span1{
    font-size: 14px;
    color: #cccccc;
}
.forma p{
    font-size: 12px;
    color: #cccccc;
}
.forma .addPhone{
    position: relative;
    left: -363px;
    top: 30px;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 5px;
}
.forma .help-block {
    line-height: 14px;


}
.forma .control-group{
    margin-bottom: 10px;
}
.forma a{
    text-decoration: underline;
}
.forma a:hover{
    text-decoration: none;
}
.forma .controls input.btn.greyButton {
    font-size: 14px;
    background-color: #999999;
    width: 170px;
}
.forma .controls input.btn.greyButton:hover {
    color: grey;
}

.btn {
    background-image: none;
    border-radius: 0px;
}
















/* bootstrap overstyle */
.carousel-indicators {
    top:auto;
    bottom:-15px!important;
}
/* focus */
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #666;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;}