{% extends "base.html" %}
{% load thumbnail staticfiles%}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/elastislide.css" %}" />
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/style.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.elastislide.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>

    <script>
		$(document).ready(function(){
            $('.rg-gallery').each(function(){
                gallery('#'+$(this).attr('id'));
            });
		});
	</script>
    <script>
		$(document).ready(function(){
            var current_page = 3;
            $('#show_more_galleries').click(function(){
                var obj = $(this);
                $.get(obj.attr('data-url'), function(data) {
                    $("#block-for-insert").append(data);
                    $('#show_more_galleries').attr('data-url', "/gallery/load_more/?page="+current_page++);
                    $('.rg-gallery.un-transformed').each(function(){
                        $(this).removeClass("un-transformed");
                        gallery('#'+$(this).attr('id'));
                    });
                });
            });
		});
	</script>
    <noscript>
        <style>
            .es-carousel ul{
            display:block;
            }
        </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev"><i class="icon-caret-left"></i></a>
                <a href="#" class="rg-image-nav-next"><i class="icon-caret-right"></i></a>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
              	</div>
            </div>
        </div>
    </script>
{% endblock %}
{% block content %}
<div class="container vuravnyoy">
<p class="tema"><span>ГАЛЕРЕЯ</span></p>
{% for gallery in galleries %}
{% if forloop.counter0|divisibleby:"2" %}
    <div class="row-fluid">
{% endif %}
        <div class="span6">
            <div class="row-fluid" id="block-for-insert">
            <!-- one gallery -->
            <div class="span12 gallery">
            <p><a href="/gallery/get/{{ gallery.slug }}/">{{ gallery.title }}</a></p>
            <div id="rg-gallery{{ gallery.id }}" class="rg-gallery">
				<div class="rg-thumbs">
					<!-- Elastislide Carousel Thumbnail Viewer -->
					<div class="es-carousel-wrapper">
						<div class="es-nav">
							<span class="es-nav-prev"><i class="icon-caret-left"></i></span>
							<span class="es-nav-next"><i class="icon-caret-right"></i></span>
						</div>
						<div class="es-carousel">
							<ul>
                                {% for item in gallery.get_images %}
                                    <li><a href="#"><img
                                            {% thumbnail item.img "65x65" crop="center" as im %}
                                                src="{{ im.url }}"
                                            {% endthumbnail %}
                                            data-large="{{ item.img.url }}" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                                {% endfor %}
							</ul>
						</div>
					</div>
					<!-- End Elastislide Carousel Thumbnail Viewer -->
				</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
            </div>
            <!-- / one gallery -->
            </div>
        </div>
{% if forloop.counter|divisibleby:"2" or forloop.last %}
    </div>
{% endif %}
{% endfor %}
{% if galleries.has_next %}
<div class="span12 pokaz text-center">
        <p><a href="#" style="color: #59473e" id="show_more_galleries" data-url="/gallery/load_more/?page=2"> ПОКАЗАТЬ БОЛЬШЕ АЛЬБОМОВ</a></p>
</div>
{% endif %}
</div>
{% endblock %}