{% extends "base.html" %}
{% load thumbnail staticfiles%}
{% load threadedcommentstags %}
{% load check_star_tag %}
{% load social_auth_widget %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/elastislide.css" %}" />
    <link href="{% static "css/social-likes.css" %} " rel="stylesheet"  type="text/css">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "js/social-likes.min.js" type="text/javascript" %} "></script>
    <script src="{% static 'js/style.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tmpl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.elastislide.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
    <script>
        function show_reply_form(comment_id) {
            $("#reply-" + comment_id).slideDown();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:hide_reply_form(" + comment_id + ")'>Отмена</a>");
        }
        function hide_reply_form(comment_id) {
            $("#reply-" + comment_id).slideUp();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:show_reply_form(" + comment_id + ")'>Ответить</a>");
        }

        //validate post form
        function post_validate(form) {
            var comment_input=form.comment;
            var error_elem = form.getElementsByClassName('errorlist');
            console.log(error_elem)
            var errorList = [];
            var message="";
            $(comment_input).removeClass("input-error");
            
            if (comment_input.value==""){
                errorList.push("Введите ваше сообщение.");
                comment_input.className = comment_input.className+" input-error";
            }
            if (comment_input.value.length<4) {
                errorList.push("Сообщение должно состоять хотя бы с 4-х символов.");
                comment_input.className = comment_input.className+" input-error";
            }

            if (!errorList.length) return true;
            for (var i = 0; i < errorList.length; i++) {
                message += errorList[i]+"<br>";
            };
            $(error_elem).html('<div class="alert alert-block alert-error fade in"><p style="color: #B94A48;">'+message+'</p></div>')
            return false;
        }
        
		$(document).ready(function(){
            $('.rg-gallery').each(function(){
                gallery('#'+$(this).attr('id'));
            });
		});
	</script>
    <noscript>
        <style>
            .es-carousel ul{
            display:block;
            }
        </style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev"><i class="icon-caret-left"></i></a>
                <a href="#" class="rg-image-nav-next"><i class="icon-caret-right"></i></a>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
              	</div>
            </div>
        </div>
    
    </script>
    <script type="text/javascript">
        function show_reply_form(comment_id) {
            $("#reply-" + comment_id).slideDown();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:hide_reply_form(" + comment_id + ")'>Отмена</a>");
        }
        function hide_reply_form(comment_id) {
            $("#reply-" + comment_id).slideUp();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:show_reply_form(" + comment_id + ")'>Ответить</a>");
        }

        //validate post form
        function post_validate(form) {
            var comment_input=form.comment;
            var error_elem = form.getElementsByClassName('errorlist');
            console.log(error_elem)
            var errorList = [];
            var message="";
            $(comment_input).removeClass("input-error");

            if (comment_input.value==""){
                errorList.push("Введите ваше сообщение.");
                comment_input.className = comment_input.className+" input-error";
            }
            if (comment_input.value.length<4) {
                errorList.push("Сообщение должно состоять хотя бы с 4-х символов.");
                comment_input.className = comment_input.className+" input-error";
            }

            if (!errorList.length) return true;
            for (var i = 0; i < errorList.length; i++) {
                message += errorList[i]+"<br>";
            };
            $(error_elem).html('<div class="alert alert-block alert-error fade in"><p style="color: #B94A48;">'+message+'</p></div>')
            return false;
        }
    </script>
{% endblock %}
{% block content %}
<style type="text/css">
.thread-1 { margin-left: 50px  !important; }
.thread-2 { margin-left: 100px !important; }
.thread-3 { margin-left: 150px !important; }
.thread-4 { margin-left: 200px !important; }
.thread-5 { margin-left: 250px !important; }
.thread-6 { margin-left: 300px !important; }
.thread-7 { margin-left: 350px !important; }
.thread-8 { margin-left: 400px !important; }
.thread-9 { margin-left: 450px !important; }
</style>
<div class="container">
    <p class="tema">ГАЛЕРЕЯ > <br> <span class="new">{{ gallery.title }}</span></p>
    <div class="row-fluid">

    <div class="span12" style="margin: 0px;">
        <div class="row-fluid">
        <div  id="testingBoard" class="span12">
{{ gallery.description|safe }}
<div id="stranica" class="row-fluid">
    <div class="offset2 span8">
        <div id="rg-gallery" class="rg-gallery">
            <div class="rg-thumbs">
                <!-- Elastislide Carousel Thumbnail Viewer -->
                <div class="es-carousel-wrapper">
                    <div class="es-nav">
                        <span class="es-nav-prev"><i class="icon-caret-left"></i></span>
                        <span class="es-nav-next"><i class="icon-caret-right"></i></span>
                    </div>
                    <div class="es-carousel">
                        <ul>
                            {% for item in gallery.get_images %}
                                <li><a href="#"><img
                                        {% thumbnail item.img "65x65" crop="center" as im %}
                                            src="{{ im.url }}"
                                        {% endthumbnail %}
                                        data-large="{{ item.img.url }}" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- End Elastislide Carousel Thumbnail Viewer -->
            </div><!-- rg-thumbs -->
            <div class="span6 ftwvkg">
                {% if request.user.is_authenticated %}
                    {% check_star "gallery" gallery.id %}
                {% endif %}
            </div>
            <div style="text-align:center">
                <ul class="social-likes">
        	        <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
	                <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
	                <li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>
        	        <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
	                <li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>
	                <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
                </ul>
            </div>
        </div><!-- rg-gallery -->
    </div>
            <div class="offset2 span8" style="margin-left: 165px;">
                {% get_comment_count for gallery as comment_count %}
                <p class="name coment"> Коментарии <a href="#">{{ comment_count }}</a></p>
                <div class="row-fluid">
                    {% get_threaded_comment_tree for gallery as tree %}
                    {% for comment in tree %}
                    <div class="comment textcomet thread-{{ comment.depth }}">
                        <p>{{ comment.user }} <span>{{ comment.date_submitted|date:"d.m.Y" }}</span></p>
                        <p>{{ comment.comment|safe }}</p>
                        <form onsubmit="return post_validate(this)" id="reply-{{ comment.id }}" class="comentim" style="display: none;" method="POST" action="{% get_comment_url gallery comment %}">{% csrf_token %}
                        <div class="errorlist"></div>
                        {% get_threaded_comment_form as form %}
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                {% if field.name == "comment" %}
                                    {% if field.errors %}{{ field.errors }}{% endif %}
                                        <textarea name="comment" id="id_comment-{{ comment.id }}"></textarea>
                                    {# <p>{{ field.label }}<br />{{ field }}</p> #}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        <input type="submit" class="blueButton" value="Отправить">
                        </form>
                        {% if user.is_authenticated %}
                            <a id="reply-link-{{ comment.id }}" href="javascript:show_reply_form('{{ comment.id }}')">Ответить</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            {% get_threaded_comment_form as form %}
            {% if user.is_authenticated %}
                    <form method="POST" onsubmit="return post_validate(this)" action="{% get_comment_url gallery %}" class="comentim">{% csrf_token %}
                    <div class="errorlist"></div>
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% if field.name != "markup" %}
                                {% if field.errors %}{{ field.errors }}{% endif %}
                                {{ field }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    <input type="submit" class="blueButton" value="Отправить">
                    </form>
            {% else %}
            <div class="span12 avtori">
                <p>Авторизуйтесь, чтобы оставить коментарий</p>
                <div style="margin-left: 200px;"><p><a href="#" onclick='$("body, html").animate({"scrollTop":0},"slow");$("#dropmenu").show();return false;'>
                    Войти через сайт</a>{% social_auth_widget %}</p></div>
            </div>
            {% endif %}
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}