{% extends "admin/change_form.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script src="{% static "js/jquery1.9.2.js" type="text/javascript" %} "></script>
<script type="text/javascript">

function kind_select_linked(){
  $.ajax({
        url: '/catalog/admin/product/type/ajax/?watertransport='+$("#id_kind").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_type').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_type').html(options);
      }
  });
}

function country_select_linked(){
  $.ajax({
        url: '/catalog/ad/country/ajax/?country='+$("#id_user_country").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_user_state').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_user_state').html(options);
      }
  });
}

$(function() {
  $('#id_kind').on('change', function() {
    kind_select_linked();
  });

  kind_select_linked();//load linked selects watertransport/typetransport


  $('#id_user_country').on('change', function() {
    country_select_linked();
  });

  country_select_linked();//load linked selects country/state
});
</script>
{% endblock %}