{% extends 'base.html' %}
{% load staticfiles %}
{% load threadedcommentstags %}
{% load thumbnail %}
{% load check_star_tag %}
{% load social_auth_widget %}
{% block css %}
    {{ block.super }}
    <style type="text/css">
        .thread-1 { margin-left: 50px  !important; }
        .thread-2 { margin-left: 100px !important; }
        .thread-3 { margin-left: 150px !important; }
        .thread-4 { margin-left: 200px !important; }
        .thread-5 { margin-left: 250px !important; }
        .thread-6 { margin-left: 300px !important; }
        .thread-7 { margin-left: 350px !important; }
        .thread-8 { margin-left: 400px !important; }
        .thread-9 { margin-left: 450px !important; }
    </style>
    <link href="{% static "css/social-likes.css" %} " rel="stylesheet"  type="text/css">
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static "js/social-likes.min.js" type="text/javascript" %} "></script>
    <script type="text/javascript">
        function show_reply_form(comment_id) {
            $("#reply-" + comment_id).slideDown();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:hide_reply_form(" + comment_id + ")'>Отмена</a>");
        }
        function hide_reply_form(comment_id) {
            $("#reply-" + comment_id).slideUp();
            $("#reply-link-" + comment_id).replaceWith("<a id='reply-link-" + comment_id
            + "' href='javascript:show_reply_form(" + comment_id + ")'>Ответить</a>");
        }

        //validate post form
        function post_validate(form) {
            var comment_input=form.comment;
            var error_elem = form.getElementsByClassName('errorlist');
            console.log(error_elem)
            var errorList = [];
            var message="";
            $(comment_input).removeClass("input-error");

            if (comment_input.value==""){
                errorList.push("Введите ваше сообщение.");
                comment_input.className = comment_input.className+" input-error";
            }
            if (comment_input.value.length<4) {
                errorList.push("Сообщение должно состоять хотя бы с 4-х символов.");
                comment_input.className = comment_input.className+" input-error";
            }

            if (!errorList.length) return true;
            for (var i = 0; i < errorList.length; i++) {
                message += errorList[i]+"<br>";
            };
            $(error_elem).html('<div class="alert alert-block alert-error fade in"><p style="color: #B94A48;">'+message+'</p></div>')
            return false;
        }

        $(document).ready(function(){
            $('.gallery').each(function(){
                galleries('#'+$(this).attr('id'));
            });
        });
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <p class="tema">НОВОСТИ И СТАТЬИ > <br> <span class="new">{{ article.category }}</span></p>
    <div class="row-fluid">


    <div class="span3 menushka" style="width: 195px;">
        <ul>
            {% for item in categories %}
                <a  href="/articles/category/{{ item.slug }}"><li>{{ item.title }}</li></a>
            {% endfor %}
                <a href="/gallery/all/"><li>Галереи</li></a>
        </ul>
    </div>
    <div class="span9" style="margin: 0px; float: right; width: 76.5%;">
        <div class="row-fluid">
        <div  id="testingBoard" class="span12">
            {% thumbnail article.preview "300x200" as im %}
                <img src="{{ im.url }}" class="pull-right">                  
            {% endthumbnail %}
            {% if article.source %}
                <a href="{{ article.source }}" class="pull-right visible">Источник статьи</a>
            {% endif %}
            <p class="author">{{ article.author }} <span>{{ item.pub_date|date:"d.m.Y" }}</span></p>
            <p class="name">{{ article.title }}</p>
            <p class="name podzagolovok">{{ article.description|safe }}</p>
            <p>{{ article.text|safe }}</p>
            <div class="span6 ftwvkg">
                {% if request.user.is_authenticated %}
                    {% check_star "article" article.id %}
                {% endif %}
            </div>
            <ul class="social-likes">
	            <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
	            <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
	            <li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>
	            <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
	            <li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>
	            <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
            </ul>
            <div class="span12" style="margin-left: 0px">
                {% get_comment_count for article as comment_count %}
                <p class="name coment"> Коментарии <a href="#">{{ comment_count }}</a></p>
                <div class="row-fluid">
                    {% get_threaded_comment_tree for article as tree %}
                    {% for comment in tree %}
                    <div class="comment textcomet thread-{{ comment.depth }}">
                        <p>{{ comment.user }} <span>{{ comment.date_submitted|date:"d.m.Y" }}</span></p>
                        <p>{{ comment.comment|safe }}</p>
                        <form onsubmit="return post_validate(this)" id="reply-{{ comment.id }}" class="comentim" style="display: none;" method="POST" action="{% get_comment_url article comment %}">{% csrf_token %}
                        <div class="errorlist"></div>
                        {% get_threaded_comment_form as form %}
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                {% if field.name == "comment" %}
                                    {% if field.errors %}{{ field.errors }}{% endif %}
                                        <textarea name="comment" id="id_comment-{{ comment.id }}"></textarea>
                                    {# <p>{{ field.label }}<br />{{ field }}</p> #}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        <input type="submit" class="blueButton" value="Отправить">
                        </form>
                        {% if user.is_authenticated %}
                            <a id="reply-link-{{ comment.id }}" href="javascript:show_reply_form('{{ comment.id }}')">Ответить</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% get_threaded_comment_form as form %}
            {% if user.is_authenticated %}
                    <form method="POST" onsubmit="return post_validate(this)" action="{% get_comment_url article %}" class="comentim">{% csrf_token %}
                    <p>Добавить коментарий</p>
                    <div class="errorlist"></div>
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% if field.name != "markup" %}
                                {% if field.errors %}{{ field.errors }}{% endif %}
                                {{ field }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <br>
                    <input type="submit" class="blueButton" value="Отправить">
                    </form>
            {% else %}
            <div class="span12 avtori">
                <p>Авторизуйтесь, чтобы оставить коментарий</p>
                <div style="margin-left: 200px;"><p><a href="#" onclick='$("body, html").animate({"scrollTop":0},"slow");$("#dropmenu").show();return false;'>
                    Войти через сайт</a>{% social_auth_widget %}</p></div>
            </div>
            {% endif %}
            <div class="span12 silverBackgraund" style="margin-left: 0px">
                <p style=" padding-left: 220px; ">ПОХОЖИЕ НОВОСТИ И СТАТЬИ </p><span><a href="/articles/category/all/" style="width: 23%">Все статьи и новости</a></span>
            </div>
        </div>
            <div id="plitka" class="span12" style="margin-left: 0px">
                <ul>
                    {% for item in sub_articles %}
                        <li>
                            {% thumbnail item.preview "300x200" as im %}
                                <img src="{{ im.url }}" class="pull-right">                  
                            {% endthumbnail %}
                            <p class="date">{{ item.pub_date|date:"d.m.Y" }} <span>{{ item.category }}</span></p>
                            <p class="names">{{ item.title }}</p>
                            <p class="obzor">{{ item.description|safe }}<span><a href="{{ item.slug }}/">Подробнее</a></span></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}