{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <p class="new tema"><span>НОВОСТИ И СТАТЬИ</span> <a href="/feeds/articles/"><img src=" {% static "img/search2.png" %} "></a></p>
            <p class="pull-right visible">Отображать: <a href="/articles/display/list/">списком</a> <a class="active">плиткой</a> </p>
        </div>
        <div class="span12" style="margin: 0px">
            <div class="row-fluid">
                <div class="span3 menushka" style="width: 195px;">
                    <ul>
                      {% for item in categories %}
                        <a  href="/articles/category/{{ item.slug }}"><li>{{ item.title }}</li></a>
                      {% endfor %}
                      <a href="/gallery/all/"><li>Галереи</li></a>
                    </ul>
                </div>
                <div class="span9" style="margin: 0px; width: 79%">
                    <div id="plitka">
                        <ul>
                      {% for item in articles %}
                        <li>
                            {% thumbnail item.preview "155x100" as im %}
                            <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <p class="date">{{ item.pub_date|date:"d.m.Y" }} <span>{{ item.category }}</span></p>
                            <p class="names">{{ item.title|safe }}</p>
                            <p class="obzor">{{ item.description|safe }}<span><a href="{{ item.slug }}/">Подробнее</a></span></p>
                        </li>
                      {% endfor %}
                        </ul>
                    </div>
                    {% if articles.paginator.num_pages > 1 %}
                      <div class="pagination">
                        <ul>
                          {% if articles.has_previous %}
                              <li><a href="?page={{ articles.previous_page_number }}"> < </a></li>
                          {% else %}
                              <li><a href="#"> < </a></li>
                          {% endif %}
                          {% for num_page in articles.paginator.page_range %}
                              <li><a href="?page={{ num_page }}" {% if num_page == articles.number %}{% endif %}>{{ num_page }}</a></li>
                          {% endfor %}
                          {% if articles.has_next %}
                              <li><a href="?page={{ articles.next_page_number }}">></a></li>
                          {% else %}
                              <li><a href="#">></a></li>
                          {% endif %}
                        </ul>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}