{% load thumbnail %}
{% for gallery in galleries %}
   <!-- one gallery -->
    <div class="span12 gallery">
        <p>{{ gallery.title }}</p>
        <div id="rg-gallery{{ gallery.id }}" class="rg-gallery un-transformed">
		    <div class="rg-thumbs">
			    <!-- Elastislide Carousel Thumbnail Viewer -->
			    <div class="es-carousel-wrapper">
					<div class="es-nav">
						<span class="es-nav-prev"><i class="icon-caret-left"></i></span>
						<span class="es-nav-next"><i class="icon-caret-right"></i></span>
					</div>
					<div class="es-carousel">
						<ul>
                            {% for item in gallery.get_images %}
                                <li><a href="#"><img
                                        {% thumbnail item.img "65x65" crop="center" as im %}
                                            src="{{ im.url }}"
                                        {% endthumbnail %}
                                        data-large="{{ item.img.url }}" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
					<!-- End Elastislide Carousel Thumbnail Viewer -->
			</div><!-- rg-thumbs -->
		</div><!-- rg-gallery -->
    </div>
    <!-- / one gallery -->
{% endfor %}
{% if not galleries.has_next %}
    <script type="text/javascript">
        $('.span12.pokaz.text-center').remove();
    </script>
{% endif %}