{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span6 title">
                    <p class="tema"><span>{{ buy_or_sell.title }}</span></p>
                    <p>{{ buy_or_sell.content|safe }}</p>
                </div>
                <div class="span6">
                    <img src="{% static 'img/23MONEY.png' %}">
                </div>
            </div>
        </div>


        <div class="span12" style="margin: 30px 0px 0px 0px">
            <div class="row-fluid">
                <div class="span6 spisok">
                    <p class="first">{{ sell.title }}</p>
                    {{ sell.content|safe }}
                    <a href="{% url 'ad_add' %}"><button class="blueButton">СОЗДАТЬ ОБЪЯВЛЕНИЕ</button></a>
                </div>
                <div class="span6 spisok">
                    <p class="first">{{ buy.title }}</p>
                    {{ buy.content|safe }}
                    <a href="{% url 'ads_list' %}" class="sulka">Перейти к обявлениям </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}