{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block content %}
<div id="search" class="container">
<form method="get" action=".">
    <div class="row-fluid">
        <div class="span12">
            <p class="tema"><span>ПОИСК</span></p>
        </div>

        <div class="span12">
        	{{ form.q }}
            <input type="submit" class="blueButton search14" value="НАЙТИ">
        </div>
        {% if query %}
        {% if page.object_list %}
        {% for result in page.object_list %}
            <ul class="sulki">
               	<li>
                    <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></p>
                    <p>{{ result.object.description }}</p>
                </li>
            </ul>
        {% endfor %}
        {% else %}
        <div class="span12 result">
        	<p>Результатов не найдено.</p>
        </div>
        {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="span12 result">
                <p>Ввведите поисковой запрос.</p>
            </div>
        {% endif %}

</form>
</div>
</div>


{% endblock %}