{% extends "password_reset/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
    <div class="container">
	<form method="post" action="{{ url }}">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input type="submit" class="blueButton" value="{% trans "Recover my password" %}"></p>
	</form>
    </div>
{% endblock %}
