{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
    <div class="container">
	    <p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
    </div>
{% endblock %}
