{% if filters.items %}
<div class="span12 silverBackgraund">
	<p>ВАШ ВЫБОР</p>
</div>
<div style="margin: 0px" class="span12 border">
	{% for id, name in filters.items %}
    <ul>
    	<li><a href="/catalog/ads/del/filter/{{ id }}/"><i class="icon-remove-sign opa"></a></i>{{ name }}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}