


<div class="span12 details" style="margin: 10px 0px 0px 0px">
    <div class="row-fluid">
        <div class="span12 silverBackgraund">
            <p style="padding-left: 45px;">ДЕТАЛИ</p>
        </div>
        <div class="span12 border" style="margin: 0px">
            <p class="vse">Всё о модели: </p>
            {{ CatalogModelSearchForm.model_brand }}
            <div id="id_div_model_product">{{ CatalogModelSearchForm.model_product }}</div>

            <button class="blueButton" id="id_model_search_button">СМОТРЕТЬ</button>
        </div>
    </div>

        <div class="row-fluid">
            <div class="span12 search18" style="margin: 10px 0px 0px 0px">
                <div class="row-fluid">
                    <div class="span12 silverBackgraund">
                        <p class="search" style="padding-left: 45px">ПОИСК</p>
                    </div>
                    <form action="/catalog/boats/search/" method="POST">{% csrf_token %}
                        <div class="span12 border" style="margin: 0px; padding-left: 7px;">
                            {% for error in CatalogBoatSearchFormErrors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            <p class="podbor">Подобрать яхту: </p>
                            {{ CatalogBoatSearchForm.boat_brand }}
                            <div class="row-fluid">
                                <div class="span12">
                                    <p>Длина: </p>
                                    <p class="pull-left">oт</p>
                                    {{ CatalogBoatSearchForm.boat_length_from }}
                                    <p class="pull-left">до</p>
                                    {{ CatalogBoatSearchForm.boat_length_to }}
                                </div>
                            </div>
                            <select size="1" id="id_length_type" class="meters">
                                <option value="Метров">Метров</option>
                                <option value="Футов">Футов</option>
                            </select>
                            <div class="row-fluid">
                                <div class="span12">
                                    <p>Тип яхты:</p>
                                    <p class="radio18">
                                        {% for item in CatalogBoatSearchForm.boat_kind %}
                                        {{ item }}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>


                            <input class="blueButton" type="submit" name="boat-search" value="ПОДОБРАТЬ">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
function model_search_select_linked(){
  $.get('/catalog/search/model/ajax/?brand='+$('#id_model_brand').val(), function(data) {
        $("#id_div_model_product").html(data);
    });
};

$(function() {
  $('#id_model_brand').on('change', function() {
    model_search_select_linked();
  });

  $.get('/catalog/search/model/ajax/?brand='+$('#id_model_brand').val(), function(data) {
        $("#id_div_model_product").html(data);
  });

  //перенаправляем по клику при выборе марки и модели на сформированый урл
  $('#id_model_search_button').click(function(){
    if($("#id_model_product").val()!="") {
        window.location = "/catalog/product/details/"+$("#id_model_product").val();
    }
    else {
        alert("Выберите модель");
    }
  });

  function IsNumeric(input){
    var RE = /^-{0,1}\d*\.{0,1}\d+$/;
    return (RE.test(input));
  }

  //конвертирует футы в метры и наоборот
  $('#id_length_type').on('change', function() {
    var length_from = $('#id_boat_length_from');
    var length_to = $('#id_boat_length_to');
    if($(this).val()=='Футов') {
        if(!$(length_from).val()==''){
            if(IsNumeric($(length_from).val())){
                $(length_from).val(($(length_from).val()*3.2).toFixed(2));
            };
        };
        if(!$(length_to).val()==''){
            if(IsNumeric($(length_to).val())){
                $(length_to).val(($(length_to).val()*3.2).toFixed(2));
            };
        };
    };
    if($(this).val()=='Метров') {
        if(!$(length_from).val()==''){
            if(IsNumeric($(length_from).val())){
                $(length_from).val(($(length_from).val()/3.2).toFixed(2));
            };
        };
        if(!$(length_to).val()==''){
            if(IsNumeric($(length_to).val())){
                $(length_to).val(($(length_to).val()/3.2).toFixed(2));
            };
        };
    };

  });


});
</script>