<div class="span3 colorSilver">
    <ul>
        <li><a href="/catalog/category/all/" style="color: #59473e">КАТАЛОГ</a></li>
        {% for item in watertransport %}
        <li><a href="/catalog/brand/list/{{ item.slug }}/">{{ item.name }}</a></li>
        {% endfor %}
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li>Сделано в <a href="#" style="text-decoration: underline;color: #59473e;">New Line</a></li>
    </ul>
</div>