<div id="smallLogo" >
    <div class="span1">
        <ul>
            {% for item in brands %}
                <li>
                    <a href="/catalog/brand/details/{{ item.slug }}">
                        <img src="{{ item.logo.url }}" rel="tooltip" title="{{ item.name }}">
                    </a>
                </li>
            {% endfor %}
            <li><a href="/catalog/brand/all/"><p>ВСЕ МАРКИ></p> </a></li>
        </ul>
    </div>
</div>