<select name="model_product" id="id_model_product">
	{% if products %}
		<option value="">-------</option>
		{% for item in products %}
			<option value="{{ item.slug }}">{{ item.title }}</option>
		{% endfor %}
	{% else %}
		<option value="">-------</option>
	{% endif %}
</select>