{% load staticfiles %}
{% if products %}
<div class="span12 silverBackgraund" style="margin: 20px 0px 0px 0px">
    <p style="padding-left: 400px">САМЫЕ ПОПУЛЯРНЫЕ МОДЕЛИ</p>
</div>

<div class="span12" style="margin-left: 0px">
    <div class="row-fluid">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for item in products %}
                {% if forloop.counter0|divisibleby:"6" %}
                    {% if forloop.counter0 == 0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                {% endif %}
                    <a href="/catalog/product/details/{{ item.slug }}/">
                    <div>
                        <img src="{{ item.preview.url }}">
                        <p class="name">{{ item.brand }}</p>
                        <p class="name">{{ item.title }}</p>
                    </div>
                    </a>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left width970px" href="#myCarousel" data-slide="prev" style=" margin-top: -10px; "><img src="{% static "img/buttonleft.png" %}"></a>
            <a class="carousel-control right1 width970px" href="#myCarousel" data-slide="next" style=" margin-top: -10px; "><img src="{% static "img/buttonright.png" %}"></a>
        </div>

    </div>
</div>
{% endif %}