{% extends "base.html" %}
{% load staticfiles cabinet_widget social_auth_widget %}
{% block content %}
<div class="container">
    <div class="row-fluid">
        {% include "accounts/menu.html" %}
        <div class="span12" style="margin: 0px">
            <div class="row-fluid">
                <div class="span7 stranica7">
                    <p class="okluk"><img src="{% static 'img/okluk.png' %}"></p>
                    <p class="seruy">Что бы войти в этот раздел, <a href="#">зарегистрируйтесь на сайте</a></p>
                    {% if not request.user.is_authenticated %}
<!-- Cabinet_widget -->
<div id="dropmenu"" {% if form_signup.errors or form_login.errors or message_after_signup %} style="display: block;" {% endif %}>
{% if message_after_signup %}
    <div class="row-fluid">
        <span class="pull-right"><i class="icon-remove xrestik closes"  style="margin-top: 0px;"></i></span>
        <p style="font-size: 14px; color: #808080;">{{ message_after_signup }}</p>
    </div>
{% else %}

    <div class="row-fluid">
        <div class="span6">
            <p style="margin: 15px 0px 0px 13px">ВХОД</p>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        {{ form_login.username }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Пароль</label>
                    <div class="controls">
                        {{ form_login.password }}
                    </div>
                        <a href="{% url "password_reset_recover" %}" class="forgotpass">не помню пароль</a>
                </div>
                {% if form_login.captcha %}
                <div class="row-fluid vupada" style="display: block; width: 480px">
                    <style type="text/css">
                        .controls img.captcha{
                            position: relative;
                            left: 180px;
                            top: -5px;
                        }
                        #id_captcha_1{
                            position: relative;
                            top: -64px;
                            left: -10px
                        }
                    </style>
                    <div class="span12">
                        <div class="span6">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div>
                                        <p class="danger">В e-mail или пароле допущена ошибка.<br> Введите код с картинкы в поле:</p>
                                        <label class="control-label height labelNepravelbnuy">Код</label>
                                        <div class="controls">
                                            {{ form_login.captcha }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <button class="blueButton voiti">ВОЙТИ</button>
            </form>
        </div>
        <div class="span6">
            <p style="margin: 15px 0px 0px 0px">Можно войти через <span class="pull-right"><i class="icon-remove xrestik closes"></i></span></p>
            <div class="row-fluid">
                <div class="span12 voiticherez">
                    {% social_auth_widget %}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid regestraci">
        <div class="span12 ">
            <p style="padding-left: 11px">РЕГИСТРАЦИЯ</p>
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label">Логин</label>
                    <div class="controls">
                        {{ form_signup.username.errors }}
                        {{ form_signup.username }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        {{ form_signup.email.errors }}
                        {{ form_signup.email }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_signup.password2.errors }}
                </div>
                <div class="control-group rege" style="float: left">
                    <label class="control-label">Пароль</label>
                    <div class="controls">
                        {{ form_signup.password1 }}
                    </div>
                </div>
                <div class="control-group rege">
                    <label class="control-label" style=" line-height: 11px; ">Повтор пароля</label>
                    <div class="controls">
                        {{ form_signup.password2 }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_signup.confirm.errors }}
                </div>
                {{ form_signup.confirm }}
                <p class="paragraf">Я выражаю согласие на сохранение и последующую обработку моих персональных даных <span>ProBoating.ru</span> в соответствии с <a href="#">Правилами конфиденциальности</a></p>
                <button class="blueButton zaregen">ЗАРЕГИСТРИРОВАТЬСЯ</button>
            </form>
        </div>
    </div>
{% endif %}
</div>
<!-- End cabinet_widget -->
                    {% endif %}
                    <p class="regestry">Чем выгодная регистрация ? </p>
                    {{ flatpage.content|safe }}
                </div>
                <div class="span5" style=" margin-top: -50px; ">
                    <img src="{% static 'img/rylb.png' %}">
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
