{% extends "base.html" %}
{% block content %}
    <div class="container" style=" margin-bottom: 90px; margin-top: 30px;">
        <p style="font-size: 14pt; color: #808080;">{{ msg|safe }}</p>
    </div>
{% endblock %}