{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function(){
        $(".bookmarks_manager").click(function(){
            var obj = $(this);
            $.ajax({
                url: $(this).attr("data-url"),
                type : "GET",
                dataType: "json",
                success: function (data) {
                    var star = $(obj).parent().find("div.stars");
                    star.attr('data-original-title', data);
                    if(star.hasClass('polnaStars')) { //проверяем есть ли класс empty
                        star.removeClass('polnaStars'); // если есть убираем его
                    }
                    else {
                        star.addClass('polnaStars'); //елси нет - добавляем
                    }
                }
            });
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
        function init_form(data_url){
            $('#form-ajax-button').click(function(){
                var obj = $(this);
                obj.text("Подождите");
                obj.prop('disabled', true);
                $.post(data_url,
                        {
                            csrfmiddlewaretoken: $(document.send_mail_form.csrfmiddlewaretoken).val(),
                            name: $('#id_name').val(),
                            email: $('#id_email').val(),
                            text: $('#id_text').val(),
                            captcha_0: $('#id_captcha_0').val(),
                            captcha_1: $('#id_captcha_1').val(),
                            copy_to_me: $('#id_copy_to_me').val()
                        },
                        function(data) {
                            $("#form-ajax-container").html(data);
                            init_form(data_url);
                        });
                return false;
            });
        }
        $(".send-mail").click(function(){
            var obj = $(this);
            if ($('#dropmenu')) {$('#dropmenu').remove();}
            obj.parent().append('\
                <div id="dropmenu" class="dropmenu-index stranica666" style="display: block;">\
                    <div class="row-fluid">\
                        <div class="span12" id="form-ajax-container">\
                        </div>\
                    </div>\
                </div>'
            );
            $.post(obj.attr('data-url'),
                        {test: 'True'},
                        function(data) {
                            $("#form-ajax-container").html(data);
                            init_form(obj.attr('data-url'));
                        });
            //$('#form-ajax-container').load(obj.attr('data-url'), {test: 'True'}, init_form(obj.attr('data-url')));
        });
    });
    </script>
{% endblock %}
{% block content %}
<div class="container iconki" style=" margin-bottom: 90px; ">
    <div class="row-fluid">
        {% include "accounts/menu.html" %}
    </div>
    {% if bookmarks_in_ad %}
        <div class="span12 silverBackgraundCenter" style="margin-left:0px ">
            <p style=" padding-left: 43%; ">ИЗБРАННЫЕ ОБЪЯВЛЕНИЯ</p>
            <div class="dropdown pull-right" style="margin: 5px">
                <a type="button" id="drop001" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.session.ads_on_page }}<b class="caret"></b></a>.
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
                    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=10">10</a></li>
                    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=20">20</a></li>
                    <li><a tabindex="-1" href="{{ request.path }}?ads_on_page=30">30</a></li>
                </ul>
            </div>
            <p class="pull-right iconki sulochka">Объявлений на странице</p>

        </div>
        <div id="bulletinBoard" class="span12 border" style="margin: 0px">
            <div class="row-fluid">
                <div id="cabinet" class="span12">
                    <div class="row-fluid size">
                        <div class="span1 delet">
                            Удалить
                        </div>
                        <div class="span1" style="width: 78px">
                            Добавленно <i class="icon-caret-down"></i>
                        </div>
                        <div class="span2 imgMarka">
                            Фото
                        </div>
                        <div class="span1" style="width: 32px">
                            Год <i class="icon-caret-down"></i>
                        </div>
                        <div class="span3 imgMarka">
                            Марка, модель
                        </div>
                        <div class="span1 country" style=" margin-left: 2px; ">
                            Местоположение
                        </div>
                        <div class="span2 moneys">
                            Цена <i class="icon-caret-down"></i>
                        </div>
                        <div class="span3 obzor1">
                            Описание
                        </div>
                        <div class="span1 prodavec">
                            Связатся с продавцом
                        </div>
                    </div>
                    {% for ad in bookmarks_in_ad %}
                    <div class="row-fluid size2">
                        <div class="span1 delet">
                            <a class="bookmarks_manager" data-url = "/accounts/add_bookmark/ad/{{ ad.object_id }}/?path={{ ad.url }}"><div class="stars" rel="tooltip" title="Убрать из избранного"></div></a>
                        </div>
                        <div class="span1 date">
                            <p>{{ ad.content_object.pub_date|date:"d.m.Y" }}</p>
                        </div>
                        <div class="span2 imgMarka">
                            <img src="
                            {% if ad.content_object.get_preview_image%}
                                {% thumbnail ad.content_object.get_preview_image "100x71" as im %}
                                    {{ im.url }}
                                {% endthumbnail %}
                            {% else %}
                                {% static "img/ship.png" %}
                            {% endif %}
                            " style="width: 100px; height: 71px;">
                        </div>
                        <div class="span1 date1">
                            <p>{{ ad.content_object.year }}</p>
                        </div>
                        <div class="span3 imgMarka" style=" padding-top: 1%; ">
                            <p>{{ ad.content_object.brand }}</p> <p>{{ ad.content_object.model }}</p>
                        </div>
                        <div class="span1 country" style=" margin-top: -1%; ">
                            <p>{{ ad.content_object.country }}</p>
                        </div>
                        <div class="span2 moneys" style=" padding-top: 1%; ">
                            <p>{{ ad.content_object.cost }}{{ ad.content_object.currency }}</p>
                        </div>
                        <div class="span3 obzor1">
                            {{ ad.content_object.text|safe|slice:":100" }}... <span><a href="{{ ad.url }}">Подробнее</a></span>
                        </div>
                        <div class="span3 prodavec">
                           <p><strong>{{ ad.content_object.author }},</strong><br>{{ ad.content_object.user_state }}({{ ad.content_object.user_country }})<br>{{ ad.content_object.phone }}</p><span><a href="#" class="send-mail" data-url = "{% url 'send_mail_to_author' ad.object_id %}">cообщение на e-mail</a></span>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                </div>

            {% if bookmarks_in_ad.paginator.num_pages > 1 %}
                <div class="pagination">
                    <ul>
                        {% if bookmarks_in_ad.has_previous %}
                            <li><a href="?page={{ bookmarks_in_ad.previous_page_number }}"> < </a></li>
                        {% endif %}
                        {% for num_page in bookmarks_in_ad.paginator.page_range %}
                            <li><a href="?page={{ num_page }}" {% if num_page == bookmarks_in_ad.number %}class="active"{% endif %}>{{ num_page }}</a></li>
                        {% endfor %}
                        {% if bookmarks_in_ad.has_next %}
                            <li><a href="?page={{ bookmarks_in_ad.next_page_number }}"> > </a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if bookmarks_in_product %}
        <div class="span12 silverBackgraundCenter" style="margin-left:0px; margin-top: 20px;">
            <p style=" padding-left: 43%; ">ИЗБРАННЫЕ КАТАЛОГИ</p>
            <div class="dropdown pull-right" style="margin: 5px">
                <a type="button" id="drop002" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">{{ request.session.products_on_page }}<b class="caret"></b></a>.
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
                    <li><a tabindex="-1" href="{{ request.path }}?products_on_page=10">10</a></li>
                    <li><a tabindex="-1" href="{{ request.path }}?products_on_page=20">20</a></li>
                    <li><a tabindex="-1" href="{{ request.path }}?products_on_page=30">30</a></li>
                </ul>
            </div>
            <p class="pull-right iconki sulochka">Каталогов на странице</p>
        </div>
        <div id="bulletinBoard" class="span12 border" style="margin: 0px">
            <div class="row-fluid">
                <div id="cabinet" class="span12">
                    <div class="row-fluid size">
                        <div class="span1 delet">
                            Удалить
                        </div>
                        <div class="span1" style="width: 78px">
                            Добавленно <i class="icon-caret-down"></i>
                        </div>
                        <div class="span2 imgMarka">
                            Фото
                        </div>
                        <div class="span1" style="width: 32px">
                            Год <i class="icon-caret-down"></i>
                        </div>
                        <div class="span3 imgMarka" style="width: 200px; text-align: center;">
                            Марка, модель
                        </div>
                        <div class="span1 country" style=" margin-left: 2px; ">
                            Местоположение
                        </div>
                        <div class="span3 obzor1" style="width: 250px; margin-left: 50px; line-height: 20px;">
                            Описание
                        </div>
                    </div>
                    {% for product in bookmarks_in_product %}
                    <div class="row-fluid size2">
                        <div class="span1 delet">
                            <a class="bookmarks_manager" data-url = "/accounts/add_bookmark/product/{{ product.object_id }}/?path={{ product.url }}"><div class="stars" rel="tooltip" title="Убрать из избранного"></div></a>
                        </div>
                        <div class="span1 date">
                            <p>{{ product.content_object.pub_date|date:"d.m.Y" }}</p>
                        </div>
                        <div class="span2 imgMarka">
                            <img src="
                                {% thumbnail product.content_object.preview "100x71" as im %}
                                    {{ im.url }}
                                {% endthumbnail %}
                            ">
                        </div>
                        <div class="span1 date1">
                            <p>{{ product.content_object.year }}</p>
                        </div>
                        <div class="span3 imgMarka" style=" padding-top: 1%; width: 200px; text-align: center;">
                            <p>{{ product.content_object.brand }}</p> <p>{{ product.content_object.model }}</p>
                        </div>
                        <div class="span1 country" style=" margin-top: -1%; ">
                            <p>{{ product.content_object.country }}</p>
                        </div>
                        <div class="span3 obzor1" style="width: 250px; margin-left: 50px;">
                            {{ product.content_object.text|safe|slice:":100" }}... <span><a href="{{ product.url }}">Подробнее</a></span>
                        </div>
                    </div>
                    {% endfor %}
                    </div>

                </div>
            {% if bookmarks_in_product.paginator.num_pages > 1 %}
                <div class="pagination">
                    <ul>
                        {% if bookmarks_in_product.has_previous %}
                            <li><a href="?page={{ bookmarks_in_product.previous_page_number }}"> < </a></li>
                        {% endif %}
                        {% for num_page in bookmarks_in_product.paginator.page_range %}
                            <li {% if num_page == bookmarks_in_product.number %}class="active"{% endif %}><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                        {% endfor %}
                        {% if bookmarks_in_product.has_next %}
                            <li><a href="?page={{ bookmarks_in_product.next_page_number }}"> > </a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if bookmarks_in_articles %}
    <div class="row-fluid">
        <div class="span12 silverBackgraund" style="margin-top: 20px">
            <p style="padding-left: 40%">ИЗБРАННЫЕ СТАТЬИ</p>
        </div>
        <div id="favorites" class="span12 border" style="margin: 0px">
            <div class="row-fluid">
                <div class="span4">
                    <ul>
                        {% for in_artcl in bookmarks_in_articles %}
                            <li style="list-style: none">
                                <div class="span1 delet" style="margin-left: -35px">
                                    <a class="bookmarks_manager" data-url = "/accounts/add_bookmark/article/{{ in_artcl.object_id }}/?path={{ in_artcl.url }}"><div class="stars" rel="tooltip" title="Убрать из избранного"></div></a>
                                </div>
                                <a href="{{ in_artcl.url }}">{{ in_artcl.content_object.title }}</a><p>{{ in_artcl.content_object.category.title }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if bookmarks_in_gallery %}
    <div class="row-fluid">
        <div class="span12 silverBackgraund" style="margin-top: 20px">
            <p style="padding-left: 40%">ИЗБРАННЫЕ ГАЛЕРЕИ</p>
        </div>
        <div id="favorites" class="span12 border" style="margin: 0px">
            <div class="row-fluid">
                <div class="span4">
                    <ul>
                        {% for in_gal in bookmarks_in_gallery %}
                            <li style="list-style: none">
                                <div class="span1 delet" style="margin-left: -35px">
                                    <a class="bookmarks_manager" data-url = "/accounts/add_bookmark/gallery/{{ in_gal.object_id }}/?path={{ in_gal.url }}"><div class="stars" rel="tooltip" title="Убрать из избранного"></div></a>
                                </div>
                                <a href="{{ in_gal.url }}">{{ in_gal.content_object.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}