<div class="span12 title stranica3">
    <p>ЛИЧНЫЙ КАБИНЕТ</p>
</div>
<div class="span12 sulki" style="margin: 0px">
    <a href="/accounts/bookmarks/" {% if request.path == "/accounts/bookmarks/" %}class="active"{% endif %}>Мои закладки</a>
    <a href="/accounts/my_ads/" {% if request.path == "/accounts/my_ads/" %}class="active"{% endif %}>Мои объявления</a>
    <a href="/accounts/change/" {% if request.path == "/accounts/change/" %}class="active"{% endif %}>Персональная информация</a>
</div>