{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.delete-my-ad').click(function(){
                var obj = $(this);
                $.ajax({
                    url: $(this).attr("data-url"),
                    type : "GET",
                    dataType: "json",
                    success: function (data) {
                        if(data == "Ok"){
                            obj.parent().parent().remove();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
<div class="container iconki">
    <div class="row-fluid">
        {% include "accounts/menu.html" %}
        <div class="span12 silverBackgraund12" style="margin-left:0px ">
            <p style=" padding-left: 43%; ">МОИ ОБЪЯВЛЕНИЯ</p><div class="dropdown pull-right" style="margin: 5px">
            <a type="button" id="drop001" role="button" class="dropdown-togglse" data-toggle="dropdown" href="#">{{ request.session.my_ads_on_page }} <b class="caret"></b></a>.
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
                <li><a tabindex="-1" href="{{ request.url }}?my_ads_on_page=10">10</a></li>
                <li><a tabindex="-1" href="{{ request.url }}?my_ads_on_page=20">20</a></li>
                <li><a tabindex="-1" href="{{ request.url }}?my_ads_on_page=30">30</a></li>
            </ul>
        </div>
            <p class="pull-right iconki sulochka">Объявлений на странице</p>

        </div>
        <div id="bulletinBoard" class="span12 border" style="margin: 0px">
            <div class="row-fluid">
                <div id="cabinet" class="span12">
                    <div class="row-fluid size">
                        <div class="span1 moneys">
                            Редактировать
                        </div>
                        <div class="span1 delet">
                            Удалить
                        </div>
                        <div class="span1 date">
                            Добавленно<i class="icon-caret-down"></i>
                        </div>
                        <div class="span2 imgMarka">
                            Фото
                        </div>
                        <div class="span1 date1">
                            Год<i class="icon-caret-down"></i>
                        </div>
                        <div class="span3 imgMarka">
                            Марка, модель
                        </div>
                        <div class="span1 country">
                            Местоположение
                        </div>
                        <div class="span2 moneys">
                            Цена<i class="icon-caret-down"></i>
                        </div>
                        <div class="span3 obzor">
                            Описание
                        </div>
                        <div class="span1 statusPereyti" style="margin: 0px">
                            Перейти
                        </div>
                    </div>
                    {% for ad in ads %}
                        <div class="row-fluid size2">
                            <div class="span1 moneys">
                                <a href="/catalog/ads/edit/{{ ad.id }}"><div class="pen"></div></a>
                            </div>
                            <div class="span1 delet">
                                <a data-url="/accounts/del_my_ad/{{ ad.id }}/" class="delete-my-ad"><div class="xrest"></div></a>
                            </div>
                            <div class="span1 date">
                                <p>{{ ad.pub_date|date:"d.m.Y" }}</p>
                            </div>
                            <div class="span2 imgMarka">
                                <img src="
                                {% if ad.get_preview_image%}
                                    {% thumbnail ad.get_preview_image "100x71" as im %}
                                        {{ im.url }}
                                    {% endthumbnail %}
                                {% else %}
                                    {% static "img/ship.png" %}
                                {% endif %}
                                " style="width: 100px; height: 71px;">
                            </div>
                            <div class="span1 date1">
                                <p>{{ ad.year }}</p>
                            </div>
                            <div class="span1 imgMarka" style=" padding-top: 1%; ">
                                <p>{{ ad.brand }}</p> <p>{{ ad.model }}</p>
                            </div>
                            <div class="span1 country" style=" margin-top: -1%; ">
                                <p>{{ ad.user_state }}</p>({{ ad.user_country }})
                            </div>
                            <div class="span2 moneys" style=" padding-top: 1%; ">
                                <p>
                                    {% if ad.cost == 0 %}
                                        Цена договорная
                                    {% else %}
                                        {{ ad.cost }}{{ ad.currency }}
                                    {% endif %}
                                </p>
                                    {% if ad.contract_cost and ad.cost != 0 %}
                                        Цена договорная
                                    {% endif %}
                            </div>
                            <div class="span3 obzor">
                                {{ ad.text|safe|slice:":100" }}... <span><a href="/catalog/ads/detail/{{ ad.id }}">Подробнее</a></span>
                            </div>
                            <div class="span1 statusPereyti" style=" padding-top: 1%; ">
                                <a href="/catalog/ads/detail/{{ ad.id }}"><img src={% static "img/pereyti.png" %}></a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                </div>
            {% if ads.paginator.num_pages > 1 %}
                <div class="pagination">
                    <ul>
                        {% if ads.has_previous %}
                            <li><a href="?page={{ ads.previous_page_number }}"> < </a></li>
                        {% endif %}
                        {% for num_page in ads.paginator.page_range %}
                            <li {% if num_page == ads.number %}class="active"{% endif %}><a href="?page={{ num_page }}">{{ num_page }}</a></li>
                        {% endfor %}
                        {% if ads.has_next %}
                            <li><a href="?page={{ ads.next_page_number }}"> > </a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <div style="text-align: center;">
                <a href="{% url "ad_add" %}"><button class="blueButton">СОЗДАТЬ ОБЪЯВЛЕНИЕ</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}