{% extends "base.html" %}
{% block content %}
<div class="container" style=" margin-bottom: 90px; ">
    <div class="row-fluid">
        {% include "accounts/menu.html" %}
        <div class="span12 myCabinet">
            {% if not form_change_password.errors and request.method == "POST" %}
                <p style="font-size: 14px; color: #808080;">Изменения внесены успешно!</p>
            {% endif %}
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="control-group">
                <div class="controls">
                    {{ form_change_password.password1.errors }}
                </div>
                    <label class="control-label">Новый пароль</label>
                    <div class="controls">
                        {{ form_change_password.password1 }}
                    </div>
                </div>
                <div class="controls">
                    {{ form_change_password.password2.errors }}
                </div>
                <div class="control-group">
                    <label class="control-label">Повтор пароля</label>
                    <div class="controls">
                        {{ form_change_password.password2 }}
                    </div>
                </div>
                <button class="blueButton myCabinet1">СОХРАНИТЬ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
