{% extends "base.html" %}
{% block content %}
<div class="container" style=" margin-bottom: 90px; ">
    <div class="row-fluid">
        {% include "accounts/menu.html" %}
        <div class="span12 myCabinet">
            {% if not form_change.errors and request.method == "POST" %}
                <p style="font-size: 14px; color: #808080;">Изменения внесены успешно!</p>
            {% endif %}
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                <div class="control-group">
                <div class="controls">
                    {{ form_change.username.errors }}
                </div>
                    <label class="control-label">Логин</label>
                    <div class="controls">
                        {{ form_change.username }}
                    </div>
                </div>
                <div class="controls">
                        {{ form_change.email.errors }}
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        {{ form_change.email }}
                    </div>
                 </div>
                <div class="control-group">
                    <label class="control-label">Пароль</label>
                    <div class="controls" style="padding-top: 6px">
                       <a href="/accounts/change/password/">Изменить пароль</a>
                    </div>
                </div>
                <div class="controls">
                    {{ form_change.phone.errors }}
                </div>
                <div class="control-group">
                    <label class="control-label">Телефон</label>
                    <div class="controls">
                        {{ form_change.phone }}
                    </div>
                </div>
                <button class="blueButton myCabinet1">СОХРАНИТЬ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
