<script type="text/javascript">
    $(document).ready(function(){
        $(".bookmarks_manager").click(function(){
            var obj = $(this);
            $.ajax({
                url: $(this).attr("data-url"),
                type : "GET",
                dataType: "json",
                beforeSend: function () {
                    obj.text("Подождите");
                },
                success: function (data) {
                    obj.text(data);
                    var star = $(obj).parent().find("div.stars");
                    if(star.hasClass('polnaStars')) { //проверяем есть ли класс empty
                        star.removeClass('polnaStars'); // если есть убираем его
                    }
                    else {
                        star.addClass('polnaStars'); //елси нет - добавляем
                    }
                }
            });
        });
    });
</script>
<div class="stars {{ div_class }} pull-left"></div><a class="bookmarks_manager" data-url ="{{ url }}?path={{ path }}" href="#">{{ text }}</a>