<p class="firstP">СООБЩЕНИЕ ПРОДАВЦУ<span class="pull-right"><i class="icon-remove closes" onclick="$('#dropmenu').hide()"></i></span></p>
{{ error }}
<form class="form-horizontal" name="send_mail_form" method="POST">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label">Ваше имя</label>
        <div class="controls">
            {{ send_mail_form.name.errors }}
            {{ send_mail_form.name }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ваш еmail</label>
        <div class="controls">
            {{ send_mail_form.email.errors }}
            {{ send_mail_form.email }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Текст сообщения</label>
        <div class="controls">
            {{ send_mail_form.text.errors }}
            {{ send_mail_form.text }}
        </div>
    </div>
    <div>
        <label class="control-label height labelNepravelbnuy">Проверочный код</label>
        <div class="controls">

                <style type="text/css">
                    .controls img.captcha{
                        position: relative;
                        left: 191px;
                        top: -22px;
                        width: 142px;
                    }
                    #id_captcha_1{
                        position: relative;
                        top: -13px;
                        left: -147px;
                    }
                </style>

                    <p style="color: #666666">введите код с картинки</p>
                    {{ send_mail_form.captcha.errors }}
                    {{ send_mail_form.captcha }}



        </div>
        <div class="chekboxOne">
            {{ send_mail_form.copy_to_me }}
            <p>Копия письма на мой e-mail</p>
        </div>
    </div>
    <button class="blueButton" id="form-ajax-button">ОТПРАВИТЬ</button>
</form>